<a class="bb-block bb-boek" id="boek_bb-{{ boek.id }}" href="{{ boek.url }}" title="Boek: {{ boek.titel }}">
	{{ icon("boek") }}
	<span title="{{ boek.status }} boek" class="boekindicator {{ boek.status }}">•</span>
	<span class="titel">{{ boek.titel }}</span>
	<span class="auteur">{{ boek.auteur }}</span>
</a>
