{% block bb_text_widget %}
	<div id="preview_{{ id }}" class="previewDiv bbcodePreview"></div>
	<textarea data-bbpreview="{{ id }}"
						class="form-control BBCodeField AutoSize" {{ block('widget_attributes') }}>{{ value | raw }}</textarea>
	<div class="row justify-content-end">
		<div class="col-auto">
			<a class="btn btn-light" href="/wiki/cie:diensten:forum" target="_blank"
				 title="Ga naar het overzicht van alle opmaak codes">Opmaakhulp</a>
		</div>
		<div class="col-auto">
			<a class="btn btn-secondary" data-bbpreview-btn="{{ id }}" href="#"
				 title="Toon voorbeeld met opmaak">Voorbeeld</a>
		</div>
	</div>
{% endblock %}

{% block date_display_widget %}
	<div class="form-control-plaintext">
		{% if relative %}
			{{ value | reldate }}
		{% else %}
			{{ value | datetime_format }}
		{% endif %}
	</div>
{% endblock %}
