{% extends 'maaltijden/base.html.twig' %}

{% block titel %}
	{%- if maaltijd is not none -%}
		Maaltijdcorveebeheer: {{ maaltijd.titel }}
	{%- elseif prullenbak -%}
		Beheer corveetaken in prullenbak
		HIER IETS COMPLEET ANDERS
	{%- else -%}
		Corveebeheer
	{%- endif -%}
{% endblock %}

{% block content %}
	{{ parent() }}
	{% if prullenbak %}
		<p>Op deze pagina kunt u de corveetaken herstellen of definitief verwijderen. Onderstaande tabel toont alle
			corveetaken die in de prullenbak zitten.</p>
		<br/>
	{% else %}
		<p>Op deze pagina kunt u de corveetaken aanmaken, wijzigen en verwijderen
		{% if maaltijd is not empty %} voor de
			{% if maaltijd.verwijderd %}
				<span class="dikgedrukt">verwijderde</span>
			{% endif %}
			maaltijd:<br/>
			{% if maaltijd.verwijderd %}
				{{ icon("verwijderen", null, "Maaltijd is verwijderd") }}
			{% else %}
				<a href="{{ url('csrdelft_maalcie_beheermaaltijden_get_beheer', {maaltijd_id: maaltijd.maaltijd_id}) }}"
					 title="Wijzig gekoppelde maaltijd"
					 class="btn popup">{{ icon("bewerken") }}</a>
			{% endif %}
			<span
				class="dikgedrukt">{{ maaltijd.titel }} op {{ maaltijd.datum | datetime_format_long }} om {{ maaltijd.tijd | time_format }}</span>
			</p>
			{% if maaltijd.verwijderd %}
				<p>Onderstaande tabel toont de corveetaken voor deze maaltijd, ook die verwijderd zijn.
			{% else %}
				<p>Onderstaande tabel toont <span class="cursief">alleen</span> de corveetaken voor deze maaltijd die <span
				class="cursief">niet verwijderd</span> zijn.
			{% endif %}
		{% else %}
			Onderstaande tabel toont alle corveetaken die niet verwijderd zijn.
		{% endif %}
		Taken in het verleden waarvoor wel iemand is ingedeeld maar geen punten zijn toegekend worden geel gemarkeerd.
		</p>
		<p>N.B. U kunt ingedeelde corveeërs eenvoudig ruilen door het icoontje voor de naam te verslepen.</p>
		<br/>
		{#
		<a href="/corvee/beheer/indelen" title="Leden automatisch indelen voor taken" class="btn">@icon("calendar") Automatisch indelen</a>
	<a href="/corvee/beheer/herinneren" title="Verstuur herinneringen" class="btn">@icon("stopwatch") Herinneringen
	versturen</a>
		#}
		<div class="float-end">
			{% if maaltijd is none or not maaltijd.verwijderd %}
				<a class="btn" onclick="$(this).hide(); window.maalcie.takenShowOld();">
					{{ icon("tonen") }}
					Toon verleden
				</a>
				<a href="{{ url('csrdelft_maalcie_beheertaken_prullenbak') }}" class="btn">
					{{ icon("prullenbak") }}
					Open prullenbak
				</a>
				<a
					{% if maaltijd is none %}
						href="{{ url('csrdelft_maalcie_beheertaken_nieuw') }}"
					{% else %}
						href="{{ url('csrdelft_maalcie_beheertaken_nieuw', {maaltijd_id: maaltijd.maaltijd_id}) }}"
					{% endif %}
					class="btn post popup"
				>
					{{ icon("toevoegen") }}
					Nieuwe taak
				</a>
			{% endif %}
		</div>
	{% endif %}
	{% if repetities is not none and (maaltijd is none or not maaltijd.verwijderd) %}
		<form
			{% if maaltijd is none %}
				action="{{ url('csrdelft_maalcie_beheertaken_nieuw') }}"
			{% else %}
				action="{{ url('csrdelft_maalcie_beheertaken_nieuw', {maaltijd_id: maaltijd.maaltijd_id}) }}"
			{% endif %}
			method="post"
			class="Formulier ModalForm SubmitReset">
			{{ csrfField() }}
			<label for="crid" style="width: auto;">
				{{ icon("calendar-plus") }}
				Periodieke taken aanmaken:
			</label>&nbsp;
			<select id="crid" name="crv_repetitie_id" value="kies" origvalue="kies" class="FormElement SubmitChange">
				<option selected="selected">kies</option>
				{% for repetitie in repetities %}
					<option value="{{ repetitie.crv_repetitie_id }}">
						{{ repetitie.corveeFunctie.naam }} op {{ repetitie.dagVanDeWeekText }}
					</option>
				{% endfor %}
			</select>
			<a href="{{ url('csrdelft_maalcie_corveerepetities_beheer') }}" class="btn" title="Periodiek corvee beheren">
				{{ icon("file-pen") }}
			</a>
		</form>
	{% endif %}
	<br/>
	<table id="maalcie-tabel" class="maalcie-tabel">
		{% for datum, perdatum in taken %}
			{% if loop.first %}
				<thead>
				{{ include('maaltijden/corveetaak/beheer_taak_head.html.twig', {prullenbak: prullenbak, show: true, datum: 'first'}) }}
				</thead>
				<tbody></tbody>
			{% endif %}
			{% if not prullenbak and maaltijd is none %}
				<thead>
				{{ include('maaltijden/corveetaak/beheer_taak_datum.html.twig', {perdatum: perdatum, datum: datum, show: show}) }}
				</thead>
				<tbody>
			{% endif %}
			{% for fid, perfunctie in perdatum %}
				{% for taak in perfunctie %}
					{{ include('maaltijden/corveetaak/beheer_taak_lijst.html.twig', {taak: taak, show: show, prullenbak: prullenbak}) }}
				{% endfor %}
			{% endfor %}
			{% if not prullenbak and maaltijd is empty %}
				</tbody>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}
