<tr id="corveetaak-row-{{ taak.taak_id }}" class="taak-datum-{{ taak.datum | date_format }}
{% if (taak.datum < date('-1 day') and maaltijd is defined) or taak.verwijderd %}
	taak-oud verborgen
	{% endif %}
	{% if not show and not prullenbak %}
	verborgen
	{% endif %}
	">
	<td>
		{% if taak.verwijderd %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_herstel', {taak_id: taak.taak_id}) }}" title="Corveetaak herstellen"
				 class="btn post">
				{{ icon("undo") }}
			</a>
		{% else %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_bewerk', {taak_id: taak.taak_id}) }}" title="Taak wijzigen"
				 class="btn post popup"
			>
				{{ icon("bewerken") }}
			</a>
			{% if taak.corveeRepetitie %}
				<a
					href="{{ url('csrdelft_maalcie_corveerepetities_beheer', {crv_repetitie_id: taak.corveeRepetitie.crv_repetitie_id}) }}"
					title="Wijzig gekoppelde corveerepetitie"
					class="btn popup"
				>
					{{ icon("file-pen") }}
				</a>
			{% else %}
				<div class="inline" style="width: 28px;"></div>
			{% endif %}
		{% endif %}
		{% if maaltijd is not defined and taak.maaltijd %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_maaltijd', {maaltijd_id: taak.maaltijd.maaltijd_id}) }}"
				 title="Beheer maaltijdcorvee" class="btn">
				{{ icon("link") }}
			</a>
		{% endif %}
	</td>
	<td class="text-center" style="width: 50px;">
		{% set aantal = taak.aantalKeerGemaild %}
		{% if not taak.verwijderd and (maaltijd is none or (maaltijd is not none and not maaltijd.verwijderd)) %}
		{% set wijzigbaar = true %}
		{% if taak.profiel %}
			{{ aantal }}x
		{% endif %}
		<div class="float-end">
			{% if taak.profiel %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_email', {taak_id: taak.taak_id}) }}"
				 title="Verstuur een (extra) herinnering voor deze taak"
				 class="btn post confirm">
				{% endif %}
				{% endif %}
				{% if taak.isTelaatGemaild %}
					{{ icon("circle-exclamation", null, "Laatste herinnering te laat verstuurd!&#013;" ~ taak.wanneer_gemaild ~ "") }}
				{% elseif aantal < 1 %}
					{% if taak.profiel %}
						{{ icon("envelope", null, "Niet gemaild") }}
					{% endif %}
				{% elseif aantal == 1 %}
					{{ icon("envelope-circle-check", null, taak.wanneer_gemaild) }}
				{% elseif aantal > 1 %}
					{{ icon("envelope-open", null, taak.wanneer_gemaild) }}
				{% endif %}
				{% if wijzigbaar is defined %}
				{% if taak.profiel %}
			</a>
			{% endif %}
		</div>
		{% endif %}
	</td>
	<td>{{ taak.datum | datetime_format_long }}</td>
	<td style="width: 100px;">{{ taak.corveeFunctie.naam }}</td>
	<td
		class="niet-dik
{% if taak.profiel %}
taak-toegewezen
{% elseif taak.datum < date(instelling('corvee', 'waarschuwing_taaktoewijzing_vooraf')) %}
taak-warning
{% else %}
taak-open
{% endif %}
">
		{% if wijzigbaar is defined %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_toewijzen', {taak_id: taak.taak_id}) }}"
				 id="taak-{{ taak.taak_id }}"
				 title="Deze taak toewijzen aan een lid&#013;Sleep om te ruilen" class="btn post popup dragobject ruilen"
				 style="position: static;"
				{% if taak.profiel %}
					uid="{{ taak.profiel.uid }}"> {{ icon("user-check") }}
				{% else %}
					> {{ icon("user-xmark") }}
				{% endif %}
			</a>
		{% endif %}
		{% if taak.profiel %}
			&nbsp;{{ taak.profiel.link(instelling('corvee', 'weergave_ledennamen_beheer')) | raw }}
		{% endif %}
	</td>
	<td
		{% if taak.profiel and (taak.punten != taak.punten_toegekend or taak.bonus_malus != taak.bonus_toegekend) and taak.datum < date(instelling('corvee', 'waarschuwing_puntentoewijzing_achteraf')) %}
		class="taak-warning"
		{% endif %}>
		{{ taak.punten_toegekend }}
		{% if taak.bonus_toegekend > 0 %}
			+
		{% endif %}
		{% if taak.bonus_toegekend != 0 %}
			{{ taak.bonus_toegekend }}
		{% endif %}
		&nbsp;van {{ taak.punten }}
		{% if taak.bonus_malus > 0 %}
			+
		{% endif %}
		{% if taak.bonus_malus != 0 %}
			{{ taak.bonus_malus }}
		{% endif %}
		{% if wijzigbaar is defined and taak.profiel %}
		<div class="float-end">
			{% if taak.wanneer_toegekend %}
				<a href="{{ url('csrdelft_maalcie_beheertaken_puntenintrekken', {taak_id: taak.taak_id}) }}"
					 title="Punten intrekken" class="btn post">
					{{ icon("minus") }}
				</a>
			{% else %}
				<a href="{{ url('csrdelft_maalcie_beheertaken_puntentoekennen', {taak_id: taak.taak_id}) }}"
					 title="Punten toekennen" class="btn post">
					{{ icon("plus") }}
				</a>
			{% endif %}
			{% endif %}
		</div>
	</td>
	<td class="col-del">
		{% if taak.verwijderd %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_verwijder', {taak_id: taak.taak_id}) }}"
				 title="Corveetaak definitief verwijderen" class="btn post confirm range">
				<input type=checkbox id="box-{{ taak.taak_id }}" name="del-taak"/>
				{{ icon("verwijderen") }}
			</a>
		{% else %}
			<a href="{{ url('csrdelft_maalcie_beheertaken_verwijder', {taak_id: taak.taak_id}) }}"
				 title="Corveetaak naar de prullenbak verplaatsen" class="btn post range">
				<input type=checkbox id="box-{{ taak.taak_id }}" name="del-taak"/>
				{{ icon("prullenbak") }}</a>
		{% endif %}
	</td>
</tr>
