{% extends 'maaltijden/base.html.twig' %}

{% block titel %}Beheer vrijstellingen{% endblock %}

{% block content %}
	{{ parent() }}
	<p>
		Op deze pagina kunt u vrijstellingen aanmaken, wijzigen en verwijderen. Onderstaande tabel toont alle vrijstellingen
		in het systeem.
	</p>
	<p>
		N.B. Pas bij het resetten van het corveejaar worden de punten toegekend (te behalen corveepunten per jaar maal het
		vrijstellingspercentage afgerond naar boven).
	</p>
	<div class="float-end">
		<a href="{{ url('csrdelft_maalcie_beheervrijstellingen_nieuw') }}" class="btn post popup">
			{{ icon("toevoegen") }} Nieuwe vrijstelling
		</a>
	</div>
	<table id="maalcie-tabel" class="maalcie-tabel">
		<thead>
		<tr>
			<th>Wijzig</th>
			<th>Lid</th>
			<th>Van {{ icon("arrow-up") }}</th>
			<th>Tot</th>
			<th>Percentage</th>
			<th>Punten</th>
			<th title="Definitief verwijderen" class="text-center">{{ icon("verwijderen") }}</th>
		</tr>
		</thead>
		<tbody>
		{% for vrijstelling in vrijstellingen %}
			{{ include('maaltijden/vrijstelling/beheer_vrijstelling_lijst.html.twig', {vrijstelling: vrijstelling}) }}
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
