<div id="activiteit_status">
	<h3>Activiteit status</h3>
	<b>
		{% if activiteit.gesloten %}
			Aanmeldingen gesloten
		{% elseif not activiteit.aanmeldenMogelijk %}
			Aanmelden niet mogelijk
		{% elseif activiteit.aanmeldenNogNietOpen %}
			Aanmeldingen nog niet open
		{% elseif activiteit.aanmeldenVoorbij %}
			Aanmeldingen niet meer open
		{% else %}
			Aanmeldingen open
		{% endif %}
	</b>
	{% if activiteit.gesloten %}
		<br>
		Handmatig gesloten
	{% elseif activiteit.aanmeldenMogelijk %}
		<br>
		Geopend {{ activiteit.startAanmelden|date_format_intl('EEEE d MMMM H:mm') }} tot {{ activiteit.eindAanmelden|date_format_intl('EEEE d MMMM H:mm') }}
	{% endif %}
	<br><br>
	<b>
		{% if activiteit.gesloten %}
			Afmelden gesloten
		{% elseif not activiteit.afmeldenMogelijk %}
			Afmelden niet mogelijk
		{% elseif activiteit.afmeldenVoorbij %}
			Afmelden niet meer mogelijk
		{% else %}
			Afmelden mogelijk
		{% endif %}
	</b>
	{% if activiteit.gesloten %}
		<br>
		Handmatig gesloten
	{% elseif activiteit.afmeldenMogelijk %}
		<br>
		Mogelijk tot {{ activiteit.eindAfmelden|date_format_intl('EEEE d MMMM H:mm') }}
	{% endif %}

	{% if activiteit.magLijstBeheren %}
		<div class="mt-4">
			{% if activiteit.gesloten %}
				<button id="lijst-sluiten"
								href="{{ url('csrdelft_aanmelderbeheer_sluit', { activiteit: activiteit.id, sluit: 0 }) }}"
								class="btn btn-primary post confirm"
								title="Na het heropenen kunnen leden zich weer in de ingestelde tijden aan- of afmelden.">
					Aanmeldingen heropenen
				</button>
			{% else %}
				<button id="lijst-sluiten"
								href="{{ url('csrdelft_aanmelderbeheer_sluit', { activiteit: activiteit.id, sluit: 1 }) }}"
								class="btn btn-primary post confirm"
								title="Na het sluiten kan niemand zich aan- of afmelden, onafhankelijk van de ingestelde tijden.">
					Aanmeldingen sluiten
				</button>
			{% endif %}
		</div>
	{% endif %}
</div>
