<div id="zijbalk_verjaardagen">
	<div class="zijbalk-kopje">
		{% if mag('P_LEDEN_READ') %}
			<a href="{{ url('csrdelft_profiel_verjaardagen') }}">Verjaardagen</a>
		{% else %}
			Verjaardagen
		{% endif %}
	</div>

	{% if toonpasfotos %}
		<div class="item" id="komende_pasfotos">
			{% for profiel in verjaardagen %}
				{% if profiel.gebdatum %}
					{# Profiel heeft misschien niet toestemming gegeven. #}
					<div class="verjaardag {% if profiel.jarig %}cursief{% endif %}">
						{{ profiel.link('pasfoto') | raw }}
						<span class="datum">{{ profiel.gebdatum | date('d-m') }}</span>
					</div>
				{% endif %}
			{% endfor %}
			<div class="clear"></div>
		</div>
	{% else %}
		{% for profiel in verjaardagen %}
			{% if profiel.gebdatum %}
				<div class="item">{{ profiel.gebdatum | date('d-m') }}
					<span {% if profiel.jarig %}class="cursief"{% endif %}>{{ profiel.link('civitas') | raw }}</span>
				</div>
			{% endif %}
		{% endfor %}
	{% endif %}
</div>

