{% extends 'extern/layout.html.twig' %}
{% block titel %}{{ titel }}{% endblock %}

{% block styles %}
	{{ css_asset('extern') }}
{% endblock %}

{#
{% block oweebanner %}
		<a href="/lidworden" class="owee-banner">
			<div class="logo">
				<img src="/images/owee/owee2020.svg" alt="C.S.R. - Machtig Mooi">
			</div>
			<div class="tekst">
				<p>Kom je volgend jaar in Delft studeren?
					<br>Lees hier alles over de OWee en lid worden bij C.S.R.</p>
				<div><span>Alles over de </span>OWee & lid worden</div>
			</div>
		</a>
		<script>
			document.body.className += ' ' + 'met-owee-banner';
		</script>
{% endblock %}
#}

{% block body %}
	<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<img src="{{ absolute_url('/images/c.s.r.logo.svg') }}" alt="Beeldmerk van de vereniging">
			<h1>C.S.R. Delft</h1>
		</div>
	</section>

	<!-- Wrapper -->
	<section id="wrapper">

		<!-- One -->
		<section id="one" class="wrapper first kleur1">
			<div class="inner">
				<span class="image">
					<picture>
						<source srcset="/images/CSR_Delft-2x.jpg" media="(min-width: 1280px)">
						<img alt="Foto vereniging" src="/images/CSR_Delft.jpg" />
					</picture>
				</span>
				<div class="content">
					<h2 class="major">{% trans %}C.S.R. Delft{% endtrans %}</h2>
					<p>{% trans with {"{leeftijd}": vereniging_leeftijd()} %}De Civitas Studiosorum Reformatorum is een bruisende, actieve, christelijke studentenvereniging in
						Delft, rijk aan tradities die zijn ontstaan in haar {leeftijd}-jarig bestaan. Het is een
						breed gezelschap
						van zo'n 275 leden met een zeer gevarieerde (kerkelijke) achtergrond, maar met een duidelijke
						eenheid door het christelijk geloof. C.S.R. is de plek waar al tientallen jaren studenten goede
						vrienden van elkaar worden, op intellectueel en geestelijk gebied groeien en goede studentengrappen
						uithalen.{% endtrans %}
					</p>
					<a href="{{ url('default', {naam: 'vereniging'}) }}" class="special">{% trans %}Lees meer over C.S.R.{% endtrans %}</a>
				</div>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper alt kleur2">
			<div class="inner">
				<div class="content">
					<div class="een-minuut">
						<div id="hero">
							<h1 class="major">{% trans %}C.S.R. IN 1 MINUUT{% endtrans %}</h1>
							<noscript class="lazy-load">
								<div class="bb-video">
									<iframe src="{% trans %}https://www.youtube-nocookie.com/embed/AE8RE8e5qI4?hl=nl{% endtrans %}"
													title="{% trans %}C.S.R. Delft in 1 minuut{% endtrans %}"
													allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
													allowfullscreen></iframe>
								</div>
							</noscript>
						</div>
						<noscript class="lazy-load">
							<div class="sociaal">
								<div class="youtube">
									<p>{% trans %}Wil je zien hoe
										de vereniging in elkaar zit? Bekijk de serie 'Delft studie is maar de helft!'{% endtrans %}</p>
									<div class="bb-video">
										<iframe src="https://www.youtube-nocookie.com/embed/a7hhtoo_kzY?hl=nl"
														title="Delft studie is maar de helft! Aflevering 1 uit 3"
														allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
														allowfullscreen></iframe>
									</div>
								</div>
								<div class="instagram">
									<p>{% trans %}Bekijk en volg ook ons Instagram account voor meer van onze vereniging!{% endtrans %}</p>
									<div class="insta-grid">
										<a href="https://www.instagram.com/csrdelft/"><img
												src="{{ absolute_url(asset_url('images/instagram.svg')) }}"
												alt="Instagram logo in C.S.R. kleuren"></a>
										<p id="insta-tag">@csrdelft</p>
									</div>
								</div>
							</div>
						</noscript>
					</div>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper first kleur3">
			<div class="inner">
				<noscript class="lazy-load">
					<span class="image"><img src="/fotoalbum/Publiek/Voorpagina/_resized/CSR_in_de_OWee.jpg"
																	 alt="Sfeerfoto buiten"/></span>
				</noscript>
				<div class="content">
					<h2 class="major">{% trans %}OWee: 21 t/m 25 augustus{% endtrans %}</h2>
					<p>{% trans %} Ter aanvang van elk studiejaar wordt er een OntvangstWeek georganiseerd, ofwel de OWee.
							Dit jaar duurt de OWee van 21 t/m 25 augustus.
							Tijdens deze week is er de uitgelezen kans om	kennis te maken met de TU en hogescholen, studieverenigingen, studentenverenigingen, sport- en cultuurcentrum, kerken en nog veel	meer!
							Al deze groepen en instanties zullen zichzelf tijdens deze week op verschillende momenten en manieren presenteren.
							C.S.R. heeft gedurende deze week veel interessante en	gezellige activiteiten, waar je kan kennis maken met de vereniging!
						{% endtrans %}</p>
				</div>
			</div>
		</section>

		<!-- Four -->
		<section id="four" class="wrapper alt kleur4">
			<div class="inner">
				<noscript class="lazy-load">
						<span class="image"><img src="/images/owee/oweecie2022.jpg"
																						 alt="Owee Commissie"/></span>
				</noscript>
				<div class="content">
					<h2 class="major">{% trans %}Interesse/vragen{% endtrans %}</h2>
					<p>{% trans %}Uiteraard is er de mogelijkheid om ons tijdens de OWee te spreken. Er is daarnaast ook gelegenheid
							om onze sociëteit Confide aan de Oude Delft 9 te bezoeken.
					{% endtrans %}

					<p class="lidworden">{% trans with {'{lidworden}': url('default', {naam: 'lidworden', _fragment: 'owee-form'})} %}
							Wil je lid worden? Inschrijven kan in de OWee (21 t/m 25 augustus).
							Voorinschrijven is zelfs ook al mogelijk, zodat er tijdens de OWee meteen contact met je kan worden	opgenomen.
							Doe dit door <a href="{lidworden}">hier</a> te klikken.
						  Zorg ervoor dat je de week van 29 augustus t/m 2 september vrij houdt voor de novitiaatsweek.{% endtrans %}</p>
					<a href="{{ url('default', {naam: 'lidworden'}) }}" class="special">{% trans %}Meer informatie over lid worden{% endtrans %}</a>
				</div>
			</div>
		</section>

		<!-- Five -->
		<section id="five" class="wrapper first kleur5">
			<div class="inner">
				<div class="content">
					<h2 class="major">Foto's</h2>
					<noscript class="lazy-load">
						<div class="grid">
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr1.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr1.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr1.jpg"/>
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr2.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr2.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr2.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr3.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr3.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr3.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr4.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr4.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr4.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr5.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr5.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr5.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr6.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr6.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr6.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr7.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr7.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr7.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr8.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr8.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr8.jpg">
							</a>
							<a class="lightbox-link" href="/fotoalbum/Publiek/Voorpagina/csr9.jpg"
								 data-fslightbox>
								<img class="bb-img" alt="/fotoalbum/Publiek/Voorpagina/csr9.jpg"
										 src="/fotoalbum/Publiek/Voorpagina/_resized/csr9.jpg">
							</a>
						</div>
					</noscript>
				</div>
			</div>
		</section>


		<!-- Footer -->
		<section id="footer">
			<div class="inner">
				<h2 class="major">Contact</h2>
				{# <h2 class="major">Interesseformulier</h2> #}
				{# @include('layout-extern.form') #}
				<ul class="contact zonder-interesseformulier">
					<li>
						{{ icon('home') }}
						<span>
							Soci&euml;teit Confide <br/>
							Oude Delft 9<br/>
							2611 BA Delft
						</span>
					</li>
					<li>
						{{ icon('phone') }}
						<a href="tel:0031619470413">
							06-19470413
						</a>
					</li>
					<li>
						{{ icon('envelope') }}
						<a href="mailto:{{ email_abactis }}">
							{{ email_abactis }}
						</a>
					</li>
					<li>
						{{ icon('fab fa-instagram') }}
						<a href="https://www.instagram.com/csrdelft/" target="_blank" rel="noopener noreferrer">
							{% trans %}Like onze foto's op Instagram en volg de laatste posts{% endtrans %}
						</a>
					</li>
					<li>
						{{ icon('map-marker') }}
						<noscript class="lazy-load">
							<iframe title="Confide op Google Maps" height="300" frameborder="0" style="border:0"
											src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2456.0445350385166!2d4.360246300000008!3d52.0060664!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5b5c03dabb5b3%3A0xea6a437036970629!2sOude+Delft+9!5e0!3m2!1sen!2s!4v1404470858468">
							</iframe>
						</noscript>
					</li>
				</ul>
				<noscript class="lazy-load">
					{{ cms('sponsors') }}
				</noscript>
				<ul class="copyright">
					<li>&copy; {{ date().format('Y') }} - C.S.R. Delft - <a
							href="/download/Privacyverklaring%20C.S.R.%20Delft%20-%20Extern%20-%2025-05-2018.pdf">Privacy</a></li>
				</ul>
			</div>
		</section>

	</section>
{% endblock %}
