{% extends 'extern/layout.html.twig' %}

{% block titel %}Lid worden{% endblock %}

{% block styles %}
	{{ css_asset('extern') }}
	{{ css_asset('extern-owee') }}
	{{ js_asset('extern-owee') }}
{% endblock %}

{% block body %}
	<!-- Banner -->
	{#  <section id="banner"> #}
	{#    <div class="inner"> #}
	{#      <a href="/"> #}
	{#        <img src="{{ absolute_url('/images/c.s.r.logo.svg') }}" alt="Beeldmerk van de vereniging"> #}
	{#        <h1>C.S.R. Delft</h1> #}
	{#      </a> #}
	{#    </div> #}
	{#  </section> #}

	<div class="owee-pagina">
		<div class="atl hero" style="margin-top:70px;">
			{#  Hier kan de OWee banner als het nieuwe thema bekend ismargin-bottom: -10vw; . #}
			<a href="../">
				<div class="content" style="transform: scale(1.5); margin-bottom: calc(-10vw + 3rem)">
					<img src="{{ absolute_url('images/beeldmerk.png') }}" alt="Beeldmerk van de vereniging">
				</div>
			</a>
		</div>

		<div class="content pb-5 lbl lar">
			<div class="row align-items-center">
				<div class="col-md-6 mb-4 mb-md-0">
					<h1>
						<span class="header-p1">{% trans %}Word lid{% endtrans %} </span>
						<span class="header-p2">{% trans %}van C.S.R.{% endtrans %}</span>
					</h1>

					<p>{% trans %}C.S.R. Delft is de grootste christelijke vereniging van Delft. Lid zijn van onze studentenvereniging betekent voor jou dat je nieuwe vriendschappen maakt voor het leven en samen geniet van de activiteiten die de vereniging biedt.
							Het  betekent dat je je geloof blijft voeden en je kan verdiepen met kringen, bidgroepjes en worshipavonden.
							Lid zijn zorgt voor prachtige momenten tijdens je studententijd die je je leven lang niet gaat vergeten!{% endtrans %}</p>
					<p>{% trans %}Bij C.S.R. zijn we verbonden door het christelijk geloof, maar wel allemaal erg verschillend.
							Iedereen is welkom bij ons ongeacht je kerkelijke achtergrond, culturele achtergrond, geaardheid of hoe je je identificeert.{% endtrans %}</p>
					<div class="mt-4">
						<a href="https://forms.gle/xtXiQW7jTQU6Acs28 " class="cta secondary" onclick="document.getElementById('lid-worden').checked = true">
							{% trans %}Ik wil naar een open avond!{% endtrans %}
						</a>
						{# <a href="#contact" class="cta primary" onclick="document.getElementById('lid-spreken').checked = true">
							{% trans %}Eerst een lid spreken{% endtrans %}
						</a> #}
						{# <a target="_blank" rel="noopener" class="cta secondary">
							{% trans %}Open avond bezoeken{% endtrans %}
						</a> #}
					</div>
				</div>
				<div class="col-md-6">
					<div class="iframe-container">
						<iframe src="https://www.youtube-nocookie.com/embed/AE8RE8e5qI4?hl=nl"
										allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
										allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>

		<div class="bbl atl buttons">
			<div class="content">
				<div class="row pt-4">
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'geloof'}) }}">
						<img src="{{ absolute_url('/images/owee/geloof.jpg') }}" alt="{% trans %}Geloof{% endtrans %}">
						<span class="overlay">{% trans %}Geloof{% endtrans %}</span>
					</a>
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'vorming'}) }}">
						<img src="{{ absolute_url('/images/owee/vorming.jpg') }}" alt="{% trans %}Vorming{% endtrans %}">
						<span class="overlay">{% trans %}Vorming{% endtrans %}</span>
					</a>
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'gezelligheid'}) }}">
						<img src="{{ absolute_url('/images/owee/gezelligheid.jpg') }}" alt="{% trans %}Gezelligheid{% endtrans %}">
						<span class="overlay">{% trans %}Gezelligheid{% endtrans %}</span>
					</a>
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'sport'}) }}">
						<img src="{{ absolute_url('/images/owee/sport.jpg') }}" alt="{% trans %}Sport{% endtrans %}">
						<span class="overlay">{% trans %}Sport{% endtrans %}</span>
					</a>
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'ontspanning'}) }}">
						<img src="{{ absolute_url('/images/owee/ontspanning.jpg') }}" alt="{% trans %}Ontspanning{% endtrans %}">
						<span class="overlay">{% trans %}Ontspanning{% endtrans %}</span>
					</a>
					<a class="col-6 col-md-4 mb-4" href="{{ url('default', {naam: 'vereniging', subnaam: 'societeit'}) }}">
						<img src="{{ absolute_url('/images/owee/societeit.jpg') }}" alt="{% trans %}Societeit{% endtrans %}">
						<span class="overlay">{% trans %}Soci&euml;teit{% endtrans %}</span>
					</a>
				</div>
			</div>
		</div>

		{#    <div class="content pb-5"> #}
		{#      <div class="row align-items-center"> #}
		{#        <div class="col-md-6 mb-4 mb-md-0"> #}
		{#          #}
		{#        </div> #}
		{#      </div> #}
		{#    </div> #}

		<div class="content pb-5 lbl lar">
			<div class="row align-items-center">
				<div class="col-md-6 mb-4 mb-md-0">
					<h1>
						<span class="header-p1">{% trans %}OWee{% endtrans %} </span>
						<span class="header-p2">{% trans %}18 t/m 22 augustus{% endtrans %}</span>
					</h1>

					<p>{% trans %} Ter aanvang van elk studiejaar wordt er een OntvangstWeek georganiseerd, ofwel de OWee.
							Dit jaar duurt de OWee van 18 t/m 22 augustus.
							Tijdens deze week is er de uitgelezen kans om kennis te maken met de TU en hogescholen, studieverenigingen, studentenverenigingen, sport- en cultuurcentrum, kerken en nog veel meer!
							Al deze groepen en instanties zullen zichzelf tijdens deze week op verschillende momenten en manieren presenteren.
							C.S.R. heeft gedurende deze week veel interessante en gezellige activiteiten, waar je kennis kan maken met de vereniging!
							Ook kan je je deze week inschrijven als lid van C.S.R..
						{% endtrans %}</p>


				</div>
				{# <div class="col-md-6">
						<img class="programma" src="{{ absolute_url('/images/owee/owee2022-programma.jpg') }}" alt="OWee programma">
				</div> #}

			</div>
		</div>

		<div class="bbl atl videos">
			<div class="content">
				<div class="row pt-4">
					<div class="col-12 mb-4">
						<h1>
							<span class="header-p1">{% trans %}C.S.R.{% endtrans %} </span>
							<span class="header-p2">{% trans %}op YouTube{% endtrans %}</span>
						</h1>
					</div>
					<div class="col-12 col-sm-6 col-md-4 mb-4">
						<div class="iframe-container">
							<iframe
								src="https://www.youtube-nocookie.com/embed/videoseries?list=PLXBOhyG24-WnNgg2RloapxC5X73J1Zxvi&hl=nl"
								allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
								allowfullscreen></iframe>
						</div>
					</div>
					<div class="col-12 col-sm-6 col-md-4 mb-4">
						<div class="iframe-container">
							<iframe src="https://youtube.com/embed/kIiR_76Hwb0"
											title="OWee thema presentatie"
											allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>
						</div>
					</div>
					<a class="col-12 col-md-4 mb-4" href="https://www.youtube.com/user/CivitasFilms" target="_blank"
						 rel="noopener noreferrer">
						<div class="iframe-container youtube-container">
							<div class="youtube">
								<div>
									<i class="fab fa-youtube" aria-hidden="true"></i>
									<div>{% trans %}Bekijk meer op YouTube{% endtrans %}</div>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>

		<a id="contact"></a>

		<div class="interest lbl">
			<div class="content">
				<div class="pb-4 pb-sm-2">
					<h1>
						<span class="header-p1">{% trans %}Interesse in{% endtrans %} </span>
						<span class="header-p2">{% trans %}C.S.R.?{% endtrans %}</span>
					</h1>
					{# <p>{% trans %}We hebben twee keer dit jaar een open avond waarbij je kan komen kijken
							hoe een avond in onze sociëteit eruit ziet. Je kan komen eten, meedoen met een worshipavond en komen borrelen.
							De eerstvolgende open avond is donderdag 8 juni 2023. Je kan je opgeven via deze
						{% endtrans %}
						<a
							href="https://docs.google.com/forms/d/e/1FAIpQLSe_C0RPkwO_Eg5Mce84YJUckVUoKxw6gAJ0BrfCZDJGrQx45A/viewform?usp=sf_link">link</a>
					</p> #}
					<p>{% trans %}Ben je overtuigd om komend studiejaar lid te worden bij C.S.R? Wat mooi! Officieel lid worden kan tijdens de OWee.{% endtrans %}</p>
				</div>
			</div>
		</div>
		{# <div class="atl bbl contact">
			<div class="content">
				<div class="row" style="justify-content: center">
					{# <div class="col-md-5 col-lg-4 mb-4 mb-md-0">
						<a class="whatsapp" href="https://wa.me/31613793890" target="_blank" rel="noopener noreferrer">
							<i class="fab fa-whatsapp me-3 me-md-0" aria-hidden="true"></i>
							<div class="call mt-3 mb-3">Vragen?<br>App met <br class="d-none d-md-inline">Ellen!</div>
							<div class="persoon">
							</div>
							<div class="cta">0613793890</div>
						</a>
					</div> #}
		{# <div class=" col-md-7 col-lg-8 col-md-12">
						<script type="text/javascript">
							var captchaLoaded = false;

							function checkVisible(elm) {
								var rect = elm.getBoundingClientRect();
								var viewHeight = Math.max(document.documentElement.clientHeight, window.innerHeight);
								return !(rect.bottom < 0 || rect.top - viewHeight >= 0);
							}

							var onloadCallback = function () {
								window.addEventListener('scroll', function () {

									if (checkVisible(document.getElementById('captcha')) && !captchaLoaded) {
										captchaLoaded = true;
										grecaptcha.render('captcha', {
											'sitekey': '6Lc9TCITAAAAAGglcvgYvSwL-ci4A3Hkv8s1xRIX',
											'hl': '{{ app.request.locale }}',
										});
									}
								})
							};

						</script> #}
		{# <form action="" class="formulieren" id="owee-form">
							{{ csrfField() }}
							<input hidden id="lid-worden" class="owee" type="radio" name="optie" value="lid-worden" checked>
							<label hidden for="lid-worden" class="owee tab">{% trans %}<span class="d-none d-md-inline">Ik wil </span>lid worden{% endtrans %}</label>
							<input hidden id="lid-spreken" class="owee" type="radio" name="optie" value="lid-spreken">
							<label hidden for="lid-spreken" class="owee tab">{% trans %}<span class="d-none d-md-inline">Ik wil een dagje </span>met een lid meelopen{% endtrans %}</label>
							<input id="open-avond" class="owee" type="radio" name="optie" value="open-avond">
							<label for="open-avond" class="owee tab">{% trans %}<span class="d-none d-md-inline">Ik wil naar een </span>open avond<span class="d-none d-md-inline"> komen</span>{% endtrans %}</label>
							<div class="interesseformulier">
								<h6 class="lid-worden">{% trans %}Ben je overtuigd om komend studiejaar lid te worden bij C.S.R? Wat mooi! Officieel lid worden kan tijdens de introductieweek in augustus. Geef hier alvast je interesse door, dan houden wij je op de hoogte van leuke evenementen en precieze data en tijden.{% endtrans %}</h6>
								<h6 class="lid-spreken">{% trans %}Om nog beter beeld te krijgen van C.S.R., kun je meedoen aan een meeloopdag.
										Tijdens deze meeloopdag mag je een dagje meelopen met een student hier in Delft. Deze
										dag zal volledig op jouw wensen en voorkeuren worden aangepast. Meer info is hier te vinden: {% endtrans %}
								<a href="https://csrdelft.nl/meeloopdag">Informatie meeloopdag</a></h6>
								<h6 class="open-avond">{% trans %}We hebben twee keer dit jaar een open avond waarbij je kan komen kijken
										hoe een avond in onze sociëteit eruit ziet. Je kan komen eten, meedoen met een worshipavond en komen borrelen.
									{% endtrans %}</h6>

								<p class="open-avond">{% trans %}De eerstvolgende open avond is donderdag 6 april 2023. Je kan je <a href="https://docs.google.com/forms/d/e/1FAIpQLSfwH0ZIrxh-GfW7awBZfGoj5Yt80U7eL1dmG6jsTjyND7lGgg/viewform?vc=0&c=0&w=1&flr=0">hier</a> opgeven.
								{% endtrans %}</p>



								<div id="melding"></div>
								<div class="velden" id="formulierVelden">
									<label for="naam" class="owee">{% trans %}Je naam{% endtrans %}</label>
									<input type="text" id="naam" name="naam">

									<label for="email" class="owee">{% trans %}Je e-mailadres{% endtrans %}</label>
									<input type="text" id="email" name="email">

									<label for="telefoon" class="owee">{% trans %}Je mobiele telefoonnummer{% endtrans %}</label>
									<input type="tel" id="telefoon" name="telefoon">

									<div class="open-avond">
										<label class="owee">{% trans %}Wil je mee eten?{% endtrans %}</label>
										<div>
										<input type="radio" id="eten-ja" name="eten" value="Ja">
										<label for="eten-ja" class="owee">{% trans %}Ja{% endtrans %}</label>
										<input type="radio" id="eten-nee" name="eten" value="Nee">
										<label for="eten-nee" class="owee">{% trans %}Nee{% endtrans %}</label>
										</div>

										<label for="eetwens" class="owee">{% trans %}Als je wilt mee eten, heb je nog allergenen of eetwensen?{% endtrans %}</label>
										<input type="text" id="eetwens" name="eetwens">

										<label class="owee">{% trans %}Heb je na afloop van de open avond een slaapplek nodig?{% endtrans %}</label>
										<div>
											<input type="radio" id="slapen-ja" name="slapen" value="Ja">
											<label for="slapen-ja" class="owee">{% trans %}Ja{% endtrans %}</label>
											<input type="radio" id="slapen-nee" name="slapen" value="Nee">
											<label for="slapen-nee" class="owee">{% trans %}Nee{% endtrans %}</label>
										</div>
									</div>

									<label for="opmerking" class="owee">{% trans %}Heb je nog opmerkingen?{% endtrans %}</label>
									<input type="text" id="opmerking" name="opmerking">

									<div class="field" id="captcha"></div>

									<p>{% trans %}Met het verzenden van dit formulier ga je akkoord met de <a
											href="/download/Privacyverklaring C.S.R. Delft - Extern - 25-/05-2018.pdf"
											target="_blank" style="color: white">privacyverklaring van C.S.R. Delft</a>.{% endtrans %}</p>

									<input class="lid-worden" type="submit" id="submitButton" value="{% trans %}Inschrijven{% endtrans %}">
									<input class="lid-spreken" type="submit" id="submitButton" value="{% trans %}Verzenden{% endtrans %}">
									<input class="open-avond" type="submit" id="submitButton" value="{% trans %}Verzenden{% endtrans %}">

								</div>
							</div>
						</form>
						<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async
										defer></script>
					</div>
				</div>
			</div>
		</div> #}

		<div class="content">
			<div class="row pt-4 pb-4">
				<div class="col-md-6 mb-4 mb-md-0">
					<h2>{% trans %}Novitaatsweek{% endtrans %}</h2>
					<p>{% trans %} Wanneer je lid wilt worden bij C.S.R. doorloop je een novitiaatsweek (ook wel de kennismakingstijd, afgekort KMT).
							De novitiaatsweek vindt plaats van 26 augustus t/m 30 augustus, dus zorg dat je die week vrijhoudt!
							In deze week zal je elkaar, de vereniging en haar leden leren kennen.
							De activiteiten die tijdens de KMT worden ondernomen zullen op een respectvolle en veilige manier verlopen.
						{% endtrans %}</p>
				</div>
				<div class="col-md-6">
					<h2>{% trans %}Documenten{% endtrans %}</h2>
					<p>{% trans %}C.S.R. heeft samen met de andere grote studentenverenigingen (DSC, Virgiel,
							Sint Jansbrug en DSB) en de TU Delft een gedragsovereenkomst opgesteld waarin
							afspraken staan waar we elkaar aan zullen houden. Hierin staan afspraken hoe
							we in het algemeen met elkaar omgaan binnen de vereniging en hoe we binnen een
							KMT met nieuwe leden omgaan. In de onderstaande drie documenten kun je de
							afspraken die wij als C.S.R. met de TU Delft hebben gemaakt lezen.{% endtrans %}</p>
					<ul>
						<li><a href="https://csrdelft.nl/download/Code%20of%20Ethics%202016-2017.pdf" target="_blank">Code Of
								Ethics</a></li>
						<li><a
								href="https://csrdelft.nl/download/Communicatiecovenant%20TU%20Delft%202021-2024.pdf"
								target="_blank" rel="noopener noreferrer">{% trans %}Communicatieconvenant{% endtrans %}</a></li>
						<li><a
								href="https://csrdelft.nl/download/Gedragsovereenkomst%20TU%20Delft%202021-2022.pdf"
								target="_blank" rel="noopener noreferrer">{% trans %}Gedragsovereenkomst{% endtrans %}</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Footer -->
	<div id="wrapper">
		<section id="footer">
			<div class="inner">
				<ul class="copyright">
					<li>&copy; {{ date().format('Y') }} - C.S.R. Delft - <a
							href="/download/Privacyverklaring%20C.S.R.%20Delft%20-%20Extern%20-%2025-05-2018.pdf">Privacy</a></li>
				</ul>
			</div>
		</section>
	</div>
{% endblock %}
