{% extends 'extern/layout.html.twig' %}

{% block titel %}{% trans %}Login{% endtrans %}{% endblock %}

{% block styles %}
	{{ css_asset('extern') }}
{% endblock %}

{% block loginpopup %}
	<nav id="login" style="visibility: visible; opacity: 1;">
		<span class="overlay"></span>
		<div class="inner" style="width: auto;">
			<h2>{% trans %}Inloggen{% endtrans %}</h2>
			<p>Scan de QR code om verder te gaan.</p>

			<form method="post" action="{{ url('csrdelft_security_remotelogin_remoteloginfinal') }}"
						class="remote-login-code">
				<input type="hidden" name="uuid" value="{{ uuid }}">
				{{ csrfField() }}
				{% if app.debug %}
					<p><a href="{{ url('csrdelft_security_remotelogin_remoteloginauthorize', {uuid: uuid}) }}">DEBUG: Klik hier om
							in
							te loggen.</a></p>
				{% endif %}
				<img alt="Remote Login QR Code"
						 src="{{ url('csrdelft_security_remotelogin_remoteloginqr') }}?uuid={{ uuid }}"/>
			</form>
		</div>
	</nav>
{% endblock %}
{% block loginbutton %}{% endblock %}

{% block content %}{% endblock %}
