{% extends 'base.html.twig' %}

{% block titel %}{{ titel }} {{ maaltijd.datum | datetime_format_long }}{% endblock %}

{% set naamweergave = instelling('maaltijden', 'weergave_ledennamen_maaltijdlijst') %}

{% block body %}
    <h1>{{ titel }} op {{ maaltijd.datum | datetime_format_long }} {{ maaltijd.datum | date_format_intl('y') }}</h1>
    <div
            class="header">{{ instelling('maaltijden', 'maaltijdlijst_tekst') | replace({'MAALTIJDPRIJS': prijs}) | raw }}
    </div>
    {% if not maaltijd.gesloten %}
        <h1 id="gesloten-melding">De maaltijd is nog niet gesloten
            {% if not maaltijd.verwijderd and not maaltijd.gesloten %}
                &nbsp;
                <button href="{{ url('csrdelft_maalcie_mijnmaaltijden_sluit', {maaltijd_id: maaltijd.maaltijd_id}) }}"
                        class="btn btn-primary post confirm"
                        title="Het sluiten van de maaltijd betekent dat niemand zich meer kan aanmelden voor deze maaltijd">
                    Inschrijving sluiten
                </button>
            {% endif %}
        </h1>
    {% endif %}
    {% if maaltijd.aantalAanmeldingen > 0 %}
        <div class="w-100" style="column-count: 3">
            {% for aanmelding in aanmeldingen %}
                <div class="row no-gutters py-1" style="border-bottom: 1px solid #999;">
                    {% if aanmelding.uid %}
                        <div class="col">
                            {{ aanmelding.profiel.link(naamweergave) | raw }}
                            <br/>
                            {% set eetwens = aanmelding.profiel.eetwens %}
                            {% if eetwens is not none %}
                                <strong class="eetwens">{{ eetwens }}</strong>
                            {% endif %}
                            {% if not aanmelding.profiel.propertyMogelijk('eetwens') %}
                                <strong class="geeneetwens">Let op!</strong>
                                Van deze gast is geen eetwens of allergie bekend (vanwege de lidstatus). Neem contact met deze persoon op voor informatie.
                            {% endif %}
                            {% if aanmelding.gasten_eetwens is not empty %}
                                {% if eetwens is not none %}
                                    <br/>
                                {% endif %}
                                <span class="opmerking">Gasten: </span>
                                <strong class="eetwens">{{ aanmelding.gasten_eetwens }}</strong>
                            {% endif %}
                        </div>
                        <div class="col-auto">{{ aanmelding.saldoMelding | raw }}</div>
                    {% elseif aanmelding.door_uid %}
                        <div class="col">
                            Gast van {{ aanmelding.door_profiel.link(naamweergave) | raw }}
                        </div>
                        <div class="col-auto">-</div>
                    {% else %}
                        <div class="col" style="line-height: 2.2em;">&nbsp;</div>
                        <div class="col-auto"></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nog geen aanmeldingen voor deze maaltijd.</p>
    {% endif %}
    <div class="w-100">
        <div class="row">
            <div class="col-md-4">
                <h3>Maaltijdgegevens</h3>
                <table>
                    <tr>
                        <td>Inschrijvingen:</td>
                        <td>{{ maaltijd.aantalAanmeldingen }}</td>
                    </tr>
                    <tr>
                        <td>Marge:</td>
                        <td>{{ maaltijd.marge }}</td>
                    </tr>
                    <tr>
                        <td>Eters:</td>
                        <td>{{ eterstotaal }}</td>
                    </tr>
                    <tr>
                        <td>Budget koks:</td>
                        <td>{{ maaltijd.budget | format_bedrag }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-8">
                <h3>Corvee</h3>
                {% if corveetaken %}
                    <div style="column-count: 2">
                        {% for taak in corveetaken %}
                            <div>
                                {% if taak.profiel %}
                                    {{ taak.profiel.link(naamweergave) | raw }}
                                {% else %}
                                    <span class="cursief">vacature</span>
                                {% endif %}
                                &nbsp;({{ taak.corveeFunctie.naam }})
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <p>Geen corveetaken voor deze maaltijd in het systeem.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
