<div class="bb-block bb-document" id="document_bb-{{ document.id }}">
	<span class="mimetype" title="{{ document.mimetype }}">{{ document.mimetypeIcon | raw }}</span>
	<span class="size">{{ document.filesize | format_filesize }}</span>
	<span class="download">
		<a href="{{ document.downloadUrl }}" title="Document neerladen"><span class="fa fa-download module-icon"></span></a>
	</span>
	<a href="{{ document.url }}" target="_blank">{{ document.naam }}</a>
</div>

