{% extends 'maaltijden/base.html.twig' %}

{% block titel %}Mijn voorkeuren{% endblock %}

{% block content %}
    {{ parent() }}
    <p>
        Op deze pagina kunt u voorkeuren in- en uitschakelen voor periodieke maaltijden op Confide door op de knop te
        klikken
        in de kolom "Voorkeur".
        Onderstaande tabel toont alle voorkeuren die u aan of uit kunt zetten.
        De kolom "Voorkeur" geeft aan of uw voorkeur is ingeschakeld met "Ja", of is uitgeschakeld met "Nee".
    </p>
    <h3>Allergie en diëet</h3>
    <p>
        Het is mogelijk dat u allergisch bent voor bepaalde ingredienten, of dat u uit bepaalde overwegingen geen vlees
        wilt
        eten.
        Dit kunt u hieronder aangeven, de koks zullen er dan rekening mee houden.
    </p>
    <p>
        N.B. Dit is niet de plek om aan te geven dat u iets niet lekker vindt!
    </p>
    {{ eetwens | raw }}
    <br/>
    <table id="maalcie-tabel" class="maalcie-tabel">
        <thead>
        <tr>
            <th>Voorkeur</th>
            <th>Functie</th>
            <th>Dag v/d week</th>
            <th>Periode</th>
        </tr>
        </thead>
        <tbody>
        {% for voorkeur in voorkeuren %}
            <tr>
                {{ include('maaltijden/voorkeuren/mijn_voorkeur_veld.html.twig', {uid: voorkeur.uid, crv_repetitie_id: voorkeur.crv_repetitie_id}) }}
                <td>{{ voorkeur.corveeRepetitie.corveeFunctie.naam }}</td>
                <td>{{ voorkeur.corveeRepetitie.dagVanDeWeekText }}</td>
                <td>{{ voorkeur.corveeRepetitie.periodeInDagenText }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
