<tr id="punten-row-{{ puntenlijst.lid.id }}">
	<td>{{ puntenlijst.lid.naam(instelling('corvee', 'weergave_ledennamen_beheer')) }}</td>
	{% for fid, aantal in puntenlijst.aantallen %}
		<td>
			{% if aantal != 0 %}
				{{ puntenlijst.punten[fid] }}
			{% endif %}
			{% if puntenlijst.bonus[fid] > 0 %}
				+
			{% endif %}
			{% if puntenlijst.bonus[fid] != 0 %}
				{{ puntenlijst.bonus[fid] }}
			{% endif %}
			{% if aantal != 0 %}
				,{{ aantal }}
			{% endif %}
		</td>
	{% endfor %}
	<td>
		<div class="InlineForm">
			<div class="InlineFormToggle">{{ puntenlijst.puntenTotaal }}</div>
			<form action="{{ url('csrdelft_maalcie_beheerpunten_wijzigpunten', {uid: puntenlijst.lid.uid}) }}" method="post"
						class="Formulier InlineForm ToggleForm">
				{{ csrfField() }}
				<input type="text" name="totaal_punten" value="{{ puntenlijst.puntenTotaal }}" aria-label="Totaal punten"
							 origvalue="{{ puntenlijst.puntenTotaal }}" class="FormElement" maxlength="4" size="4"/>
				<a class="btn submit" title="Wijzigingen opslaan">{{ icon("accept") }}</a>
				<a class="btn reset cancel" title="Annuleren">{{ icon("delete") }}</a>
			</form>
		</div>
	</td>
	<td>
		<div class="InlineForm">
			<div class="InlineFormToggle">{{ puntenlijst.bonusTotaal }}</div>
			<form action="{{ url('csrdelft_maalcie_beheerpunten_wijzigbonus', {uid: puntenlijst.lid.uid}) }}" method="post"
						class="Formulier InlineForm ToggleForm">
				{{ csrfField() }}
				<input type="text" name="totaal_bonus" value="{{ puntenlijst.bonusTotaal }}" aria-label="Totaal bonus"
							 origvalue="{{ puntenlijst.bonusTotaal }}" class="FormElement" maxlength="4" size="4"/>
				<a class="btn submit" title="Wijzigingen opslaan">{{ icon("accept") }}</a>
				<a class="btn reset cancel" title="Annuleren">{{ icon("delete") }}</a>
			</form>
		</div>
	</td>
	<td style="text-align: right; background-color: {{ '#' ~ puntenlijst.prognoseColor }};"
			{% if puntenlijst.vrijstelling %}title="{{ puntenlijst.vrijstelling.percentage }}% vrijstelling"{% endif %}>
		{{ puntenlijst.prognose }}
		<div class="inline" style="width: 25px;">
			{% if puntenlijst.vrijstelling %}
				*
			{% else %}
				&nbsp;
			{% endif %}
		</div>
	</td>
</tr>
