<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrum') }}

	<script>
		{# Configuratie voor Sentry, zie sentry.ts #}
		APP_ENV = "{{ app.environment }}";
		SENTRY_DSN_JS = "{{ sentry_dsn }}";
		USER = "{{ app.user.uid }}";
	</script>
	{{ js_asset('sentry') }}

	<link rel="icon" href="/lustrum12/favicon.ico">

	<script type="text/javascript">
		window.onscroll = function(){
			var scrollMaxY = window.scrollMaxY || (document.documentElement.scrollHeight - document.documentElement.clientHeight)
			var vertical_position = pageYOffset || document.documentElement.scrollTop;
			var percentile = (vertical_position / scrollMaxY)

			var zandloper = document.getElementById("zandloper");
			var heel = document.getElementById("zandloper_heel");
			var kapot = document.getElementById("zandloper_kapot");

			zandloper.style.top = percentile * 100 + '%';
			zandloper.style.marginTop = -50 - (20 * percentile) + "px";

			if (percentile < 0.99) {
				heel.style.display = "";
				kapot.style.display = "none";
			} else {
				heel.style.display = "none";
				kapot.style.display = "";
			}
		};
	</script>
</head>
<body class="zijbalk_verborgen">

	<div id="zandloper" class="zandloper">
		<img id="zandloper_kapot" class="kapot" src="/images/lustrum12/ZandloperKapot.png"/>
		<img id="zandloper_heel" class="heel" src="/images/lustrum12/ZandloperHeel.png"/>
	</div>

	{{ cms('lustrum-activiteiten-cantus') }}
	{#CODE GOES TO lustrum-activiteiten-cantus#}
	{#<nav class="site-header">#}
	{#	<a class="logo-titel d-inline-block" href="./">#}
	{#		<img src="/images/lustrum12/themaheader.png"#}
	{#				 alt="Logo menu" />#}
	{#	</a>#}
	{#	<div class="container">#}
	{#		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">#}
	{#			<a class="d-none d-md-inline-block" href="./">Home</a>#}
	{#			<a class="d-none d-md-inline-block" href="#top">Top</a>#}
	{#			<a class="d-none d-md-inline-block" href="#beschrijving">Beschrijving</a>#}
	{#			<a class="d-none d-md-inline-block" href="#poster">Poster</a>#}
	{#			<a class="d-none d-md-inline-block" href="#ketzers">Ketzer</a>#}
	{#		</div>#}
	{#	</div>#}
	{#</nav>#}
	{#<div id="top" class="divider">#}
	{#	<img id="beschrijving" class="helemaal-boven" src="/images/lustrum12/DividerBoven.png">#}
	{#</div>#}
	{#<div class="beschrijving">#}
	{#	<h2 class="titel"> Cantus met live band</h2>#}
	{#	<p>Kom klinken, brullen en drinken op live muziek van een prachtige samengestelde ledenband</p>#}
	{#	<p>Een geldige QR code is hierbij verplicht.</p> <p>Datum: 6 oktober 2021</p>#}
	{#	<p>Tijd: 21 uur</p> <p>Locatie: Confide</p>#}
	{#	<p>Kosten: 2 euro</p>#}
	{#	</div>#}
	{#<div id="poster" class="divider">#}
	{#	<img class="tussen" src="/images/lustrum12/DividerTussen.png">#}
	{#</div>#}
	{#<div class="poster">#}
	{#	<img src="/images/lustrum12/lo-poster.png" alt="Logo menu" /></div>#}
	{#<div class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png"></div>#}
	{#<div id="ketzers" class="ketzers">#}
	{#	<h2 class="titel">Ketzer</h2>#}
	{#	<div class="ketzers-container">#}
	{#		[activiteit=2042]#}
	{#	</div>#}
	{#</div>#}
	{#<div class="divider">#}
	{#	<img class="onder" src="/images/lustrum12/DividerOnder.png">#}
	{#</div>#}

</body>
