<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrummerch') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{% include 'lustrum12/zandloper.html.twig' %}

<nav class="site-header">
	<a class="logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="./">Home</a>
			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<a class="d-none d-md-inline-block" href="#merch">Dikke Merch</a>
		</div>
	</div>
</nav>

<div id="top" class="divider">
	<img id="merch" class="helemaal-boven" src="/images/lustrum12/DividerBoven.png">
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-6 merch-object">
			<h2 class="titel"> Trui </h2>
			<div class="beschrijving">
				<p>Kosten voor de trui is ~30 euro.</p>
				<p>Passen kan binnenkort op confide tijdens de MiBo.</p>
				<p>Opdruk is geborduurd.</p>
			</div>

			<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/a0918840a6bf90eb8caf3ba9aec4fbec">
			<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/f14f9c34876238a804b54104c9f641c5">
			<div class="beschrijving"><p>Oude Tabel:</p></div>
			<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/fd613d20cdd14b5c8e7a1d064413607e">

			<div class="ketzer">
				[ketzer=11635]

				<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/acf6b4ee740342a0fbb847fdae89bae2">
				<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/7e9180a6931e7b220ed268dfa1814310">
				<div class="beschrijving"><p>Oude Tabel</p></div>
				<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/b9b849c00d74e9911b3324f4bc49d4c1"></div>
			<div class="ketzer">
				[ketzer=11636]
			</div>


		</div>

		<div class="col-lg-6 merch-object">
			<h2 class="titel"> Das </h2>
			<div class="beschrijving">
				<p>Kosten voor de das zijn rond de 8 euro.</p>
				<p>Neem er gerust 2.</p>
				<p>Inketzen kan tot 26 november voor das en trui.</p>
			</div>

			<img class="plaetje" src="https://csrdelft.nl/forum/plaatjes/bekijken/bcbfc168a343c9c86af7e558e0d9d626">

			<div class="ketzer">
				{{'[activiteit=11721]'|bbcode }}
				{{'[activiteit=11643]'|bbcode }}
			</div>
		</div>
	</div>
</div>

<div class="divider">
	<img class="onder" src="/images/lustrum12/DividerOnder.png">
</div>

</body>
