<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrumdies') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{#	{%  include 'lustrum12/zandloper.html.twig' %}#}
	{{ cms('dies-etiquette') }}

{#	<nav class="site-header">#}
{#	<a class="logo-titel d-inline-block" href="./">#}
{#		<img src="/images/lustrum12//themaheader.png"#}
{#				 alt="Logo menu" />#}
{#	</a>#}
{#	<div class="container">#}
{#		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center headerbuttons">#}
{#			<a class="d-none d-md-inline-block" href="./">Dies Pagina</a>#}
{#			<a class="d-none d-md-inline-block" href="#etiquette">Etiquette</a>#}
{#		</div>#}
{#	</div>#}
{#</nav>#}

{#<section class="etiquette column-overzicht helemaal-boven">#}
{#	<a class="anchor" id="etiquette"></a>#}
{#	<div class="container">#}
{#		<h1>Etiquette</h1>#}

{#		<div class="fluid-columns">#}
{#			<p class="heavy">De dies is het hoogtepunt van het verenigingsleven. U wilt zich tijdens deze feestelijke#}
{#				weken van uw meest galante kant laten zien. Daarom zijn hier voor u de etiquette uiteengezet.</p>#}
{#			<p class="heavy">Tijdens de Dies Natalis is het passend om goed gekleed naar Confide te komen. Jas en das#}
{#				wordt gewaardeerd, uiteraard zonder dissonanten zoals gymschoenen of witte sokken. Het is verder de#}
{#				gewoonte om tijdens de Dies uw penning te dragen op Confide. Eerstejaars zullen deze ontvangen op de#}
{#				dies H.V. als ze geïnstalleerd worden. Op het gala hoeft u uw penning niet te dragen.</p>#}
{#			<div>#}
{#				<h3>Gala Voorbereidingen</h3>#}
{#				<h4>Uitnodigingen</h4>#}
{#				<p>De heer vraagt de dame in een brief, handgeschreven met zilveren pen op blauw papier, of zij hem wil#}
{#					vergezellen naar het gala. De dame antwoordt hierop met een brief, handgeschreven met gouden pen op#}
{#					roze papier, waarin zij de heer uitnodigt om bij haar thuis een kopje thee te komen drinken. Tijdens#}
{#					deze visite wordt er niet over het gala gesproken. Als de dame het verzoek afwijst, serveert zij#}
{#					niets bij de thee. Gaat ze mee naar het gala, dan serveert ze koekjes, en is ze geïnteresseerd in#}
{#					meer dan alleen het gala, dan serveert ze zelfgebakken taart. Slagroom op de taart is de klap op de#}
{#					vuurpijl.</p>#}
{#			</div>#}
{#			<p>Als de dame besluit mee te gaan, moet ze tijdens de visite op de een of andere tersluikse manier de kleur#}
{#				van haar jurk duidelijk maken, zodat de heer de kleur van de corsages hierop aan kan passen.#}
{#				Bijvoorbeeld door een tipje van de jurk uit de kast te laten hangen, of bloemen van een bepaalde kleur#}
{#				te verzorgen.</p>#}
{#			<p>Zal het gala plaastvinden in een schrikkeljaar, wat dit jaar het geval is, dan zijn de rollen omgedraaid#}
{#				en heeft de dame de edele plicht de heer te vragen. In dit geval schrijft de dame nog steeds een roze#}
{#				brief met gouden letters, en de heer een blauwe brief met zilveren letters, maar nu nodigt de heer de#}
{#				dame uit op de thee. De vrouw maakt nu ook de corsages.</p>#}
{#			<p>De uitnodigende partij verzorgt een tweetal corsages die tijdens het gala gedragen kan worden.#}
{#				Traditioneel is de corsage een klein bloemstukje, maar de corsage kan ook een ludieke vorm aannemen. De#}
{#				heer draagt de traditionele corsage op de linker revers met de bloem omhoog. De dame draagt de corsage#}
{#				links onder het sleutelbeen met de bloem naar beneden.</p>#}
{#			<div>#}
{#				<h3>Aanvang van het Gala</h3>#}
{#				<h4>Kleding</h4>#}
{#				<p>En dan is het zover: het is de grote dag van het gala. De heer haalt zijn dame thuis op. Als hem open#}
{#					wordt gedaan, wordt de heer bijna verblind door de schoonheid van de dame, waar hij haar dan ook#}
{#					terecht mee complimenteert. Ze draagt een lange, gedecolleteerde avondjapon, die zo goed als#}
{#					mouwloos is. De prachtige, lange handschoenen tot over haar ellebogen en haar opgestoken haar maken#}
{#					het plaatje helemaal af. Maar ook de heer mag er zijn. Hij is gekleed in rokkostuum en heeft#}
{#					glimmende lakschoenen aan. Hij had ook nog een smoking in de kast hangen, maar dat vond hij,#}
{#					terecht, inferieur aan een rokkostuum.</p>#}
{#			</div>#}
{#			<p>Tijdens het gala is het niet gepast om een horloge te dragen, immers: gezelligheid kent geen tijd. Enige#}
{#				uitzondering zijn zakhorloges voor de heren en sierlijke horloges die als ornament gedragen worden voor#}
{#				de dames. De heer heeft op het gala twee zakdoeken bij zich: één om eventueel zichzelf het zweet van het#}
{#				voorhoofd te deppen en één voor zijn date, die immers zelf geen zakken heeft. Verder heeft de heer#}
{#				weinig bij zich buiten huissleutels, corsages en geld voor de taxi. Een mobiele telefoon is toegestaan,#}
{#				mits deze op de "stille" stand staat. Voor een dame is, indien nodig, een klein handtasje#}
{#				toegestaan.</p>#}
{#			<h4>Aankomst</h4>#}
{#			<p>Na een kopje thee wandelen ze samen naar Confide. De heer loopt links van de dame om zo de nodige#}
{#				bescherming te bieden en hij zorgt er voor dat hij niet te hard loopt. Bij aankomst op Confide houdt de#}
{#				heer de deur open voor de dame en laat haar voorgaan. Aldaar tovert de heer twee corsages uit de#}
{#				binnenzak van zijn jasje. Een daarvan speldt hij bij zijn dame op, en een bij zichzelf. Na het begroeten#}
{#				van vrienden en het kennismaken met onbekenden, is het tijd geworden om zich te verplaatsen naar de#}
{#				vervoermodaliteit, die de galagangers naar de - nog steeds onbekende - locatie zullen brengen.</p>#}
{#			<div>#}
{#				<h3>Op locatie</h3>#}
{#				<h4>Binnenkomst</h4>#}
{#				<p> Na een korte rit komen ze op de plaats van bestemming. Het overtreft alle verwachtingen. Opnieuw#}
{#					houdt de heer de deur open voor de dame en laat haar voorgaan. Indien er een trap aanwezig is in het#}
{#					restaurant, betreedt de heer deze als eerste, hij mag immers niet de gelegenheid krijgen om de#}
{#					bekoorlijke enkels van de dame te bekijken. Bij een trap afdalen gaat de heer voor om bij het#}
{#					struikelen van de dame haar op te kunnen vangen. De heer helpt zijn dame uit haar jas en geeft deze#}
{#					af bij de garderobe, daarna gaat hij haar voor naar de eetzaal. Ze gaan zitten op de plaats die aan#}
{#					hen is toegewezen, de heer neemt plaats aan de linkerzijde van de dame. De heer neemt pas plaats aan#}
{#					tafel als hij de stoel voor de dame heeft aangeschoven.</p>#}
{#			</div>#}
{#			<div>#}
{#				<h4>Tijdens het diner</h4>#}
{#				<p>Als iedereen zit, wordt de maaltijd geopend door de DiesCie praeses. Nadat de maaltijd geopend is,#}
{#					wordt het eten binnengebracht. Als zowel de dame als de heer en hun beide buren voorzien zijn,#}
{#					beginnen ze met eten. Uiteraard hebben ze hierbij de ellebogen niet op tafel. Ze beginnen met het#}
{#					bestek aan de buitenkant. Gedurende de maaltijd werken ze naar binnen. Voordat de heer een slokje#}
{#					van zijn wijn neemt, veegt hij eerst zijn mond af om vetafdrukken op zijn glas te voorkomen. Tijdens#}
{#					het eten wordt er heel wat afgepraat. Om de smaak van het eten niet te bederven, blijven de sigaren#}
{#					nog in de doos.</p>#}
{#				<p>In het geval dat een van de partners zich wil verwijderen, wordt toestemming gevraagd aan de partner.#}
{#					Als de dame dit vraagt, staat ze gelijk op, net als de heer en die kan pas gaan zitten als zij zich#}
{#					heeft verwijderd. Bij terugkeer van de dame schuift de heer haar stoel aan. Het is niet correct om#}
{#					de partner lang alleen te laten.</p></div>#}
{#			<div>#}
{#				<h3>Het feest</h3>#}
{#				<h4>Dansen</h4>#}
{#				<p>Na het eten en het debatteren, gaat de band spelen. Het is tijd om te gaan dansen. Een heer vraagt#}
{#					een dame ten dans door een lichte buiging te maken en te vragen: "Mag ik deze dans van u?". De dame#}
{#					antwoordt bevestigend door een knik. De heer biedt de dame zijn rechterarm en begeleidt haar#}
{#					richting dansvloer. Kan de heer de dame zijn arm niet aanbieden door de drukte, dan loopt de dame#}
{#					voorop. Tijdens de dans bent u uitsluitend gericht op uw partner van dat moment en voert u geen#}
{#					gesprek met een ander paar. Na afloop van de dans begeleidt de heer de dame weer terug naar haar#}
{#					plaats.</p>#}
{#				<p>Uiteraard vraagt de heer als eerste zijn eigen dame ten dans, voordat hij een ander vraagt. In#}
{#					principe wordt een dansverzoek niet zonder goede reden door de dame geweigerd. Als een dame heeft#}
{#					geweigerd, is het niet correct om direct een dame die in de buurt van de eerste dame stond ter dans#}
{#					te vragen, zij kan hierdoor het gevoel krijgen dat ze tweede keus is. Als een dame geweigerd heeft,#}
{#					is het ook niet de bedoeling dat zij meteen met een ander gaat dansen. Nadat u een dame terug heeft#}
{#					gebracht naar haar plaats, vraagt u niet direct een andere dame om een dans.</p>#}
{#			</div>#}
{#			<div>#}
{#				<h4>Palen</h4>#}
{#				<p>De dame wordt door een andere heer ten dans gevraagd en de heer heeft nu niet meer zo'n behoefte aan#}
{#					dansen. Hij steekt een sigaar op met een cederhoutje. Hij rookt de sigaar rustig en gelijkmatig op.#}
{#					Als de sigaar op is, drukt hij deze niet uit, maar legt hij de sigaar in de asbak om uit te#}
{#					doven.</p>#}
{#			</div>#}
{#			<div>#}
{#				<h4>Terug naar huis</h4>#}
{#				<p>De heer en de dame dansen nog veel, hebben goede gesprekken en maken een aantal nieuwe vrienden.#}
{#					Alles dat een begin heeft, heeft ook een eind. Bij de garderobe haalt de heer de jas van de dame en#}
{#					helpt haar bij het aantrekken. Bij het weggaan gaat de dame de heer voor, maar bij de deur wacht zij#}
{#					tot de heer hem voor haar opent. De heer brengt de dame netjes naar huis. Wanneer de dame dit#}
{#					verlangt kan zij de heer uitnodigen voor een slaapmutsje, wanneer de dame dit niet doet dient de#}
{#					heer de keuze van de dame te respecteren.</p>#}
{#			</div>#}
{#			<p>Het is voor het vertrekken voor de heer geoorloofd de rits van de jurk van de dame maximaal twintig#}
{#				centimeter open te ritsen. Dit zodat de dame niet achterblijft in een jurk waar zij niet uit kan. Tot#}
{#				slot neemt de heer met een tedere kus afscheid en gaat zijnsweegs, mijmerend over de bijzondere avond#}
{#				die voorbij is.</p>#}
{#		</div>#}
{#	</div>#}
{#</section>#}
</body>
