<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrum') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{% include 'lustrum12/zandloper.html.twig' %}
<nav class="site-header">
	<a class="logo-titel d-inline-block" href="../">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<!-- <a class="d-none d-md-inline-block" href="opening">Lustrum Opening</a> -->
			<a class="d-none d-md-inline-block" href="#activiteiten">Activiteiten</a>
			<a class="d-none d-md-inline-block" href="#instagram">Instagram</a>
			<a class="d-none d-md-inline-block" href="#commissie">Commissie</a>
		</div>
	</div>
</nav>

<a class="anchor glow" id="top"></a>

<div class="thema thema-container">
	<img class="thema-plaetje" src="/images/lustrum12/00_overzicht/thema_header.png" alt="Lustrum Thema">
</div>

<a class="anchor" id="activiteiten"></a>

<div class="divider">
	<img class="boven" src="/images/lustrum12/DividerBoven.png">
</div>

<div class="overzicht aankomend">
	<h2 class="titel">Aankomende Activiteiten</h2>

	<div class="activiteit">
		<a href="tijdloos/gala"><img class="activiteit-plaetje"
																 src="/images/lustrum12/00_overzicht/link_lustrumgala.png"
																 alt="Lustrum Gala"></a>
	</div>
</div>

<div class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png"></div>

<div class="overzicht geweest">
	<h2 class="titel">Vorige Activiteiten</h2>

	<div class="activiteit">
		<a href="tijdloos/lustrumreis"><img class="activiteit-plaetje"
																				src="/images/lustrum12/00_overzicht/link_lustrumreis.png"
																				alt="Lustrum Reis"></a>
	</div>

	<div class="activiteit">
		<a href="tijdloos/slotactiviteit"><img class="activiteit-plaetje"
																					 src="/images/lustrum12/00_overzicht/link_hoogtijd.jpg"
																					 alt="Hoogtij(d)"></a>
	</div>


	<div class="activiteit">
		<a href="tijdloos/dies"><img class="activiteit-plaetje"
																 src="images/lustrum12/00_overzicht/link_dies.png"
																 alt="Dies"></a>
	</div>

	<div class="activiteit">
		<a href="tijdloos/diesthema"><img class="activiteit-plaetje"
																			src="images/lustrum12/00_overzicht/link_dies_themabekendmaking.png"
																			alt="DIES THEMA???"></a>
	</div>
	<div class="activiteit">
		<a href="tijdloos/terugnaardetoekomst"><img class="activiteit-plaetje"
																								src="images/lustrum12/00_overzicht/link_lustrumweek_tndt.png"
																								alt="Lustrumweek #2"></a>
	</div>

	<div class="activiteit">
		<a href="tijdloos/zingmee"><img class="activiteit-plaetje"
																		src="images/lustrum12/00_overzicht/link_zingmee.png"
																		alt="Lustrum Week"></a>
	</div>
	<div class="activiteit">
		<a href="tijdloos/lustrumweek"><img class="activiteit-plaetje"
																				src="images/lustrum12/00_overzicht/link_lustrumweek_stressloos.png"
																				alt="Lustrum Week"></a>
	</div>
	<div class="activiteit">
		<a href="tijdloos/opening"><img class="activiteit-plaetje"
																		src="/images/lustrum12/00_overzicht/link_lustrum_opening.png"
																		alt="Lustrum Week"></a>
	</div>
	<div class="activiteit">
		<a href="tijdloos/thema"><img class="activiteit-plaetje"
																	src="/images/lustrum12/00_overzicht/link_thema_presentatie.png"
																	alt="Thema Presentatie"></a>
	</div>
</div>
<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>

<div class="overzicht">
	<div class="activiteit">
		<a href="https://csrdelft.nl/tijdloos/dikkemerch"><img class="activiteit-plaetje"
																													 src="/images/lustrum12/00_overzicht/link_lustrum_merge.png"
																													 alt="merch"></a>
	</div>
</div>

<div class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png"></div>

<div class="overzicht">
	<div class="activiteit">
		<a href="https://forms.gle/AhRiSo8wrH1o8h627"><img class="activiteit-plaetje"
																											 src="/images/lustrum12/00_overzicht/ideeendoos.png"
																											 alt="Ideeëndoos"></a>
	</div>
</div>

<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>

<div class="instagram">
	<a class="anchor" id="instagram"></a>
	<!-- <div class="kopje"><img class="plaetje" src="${require('../src/assets/images/KopjeInstagram.png')}"/></div> -->
	<h2 class="titel">Instagram</h2>
	<div class="instagram-container">
		<a href="https://www.instagram.com/lustrumcsr/">
			<img class="instagram-embed" src="/images/lustrum12/00_overzicht/instagram.png" alt="Lustrum Instagram">
		</a>
		<a href="https://www.instagram.com/lustrumcsr/">lustrumcsr</a>
	</div>
</div>

<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>

<div class="commissie">
	<a class="anchor" id="commissie"></a>
	<h2 class="titel">Commissie</h2>
	<div class="commissie-container">
		<img class="commissiefoto"
				 src="/images/lustrum12/00_overzicht/commissie_foto.png"
				 alt="LustrumCie foto">
		<h4> LustrumCie Van Stiphout </h4>
		<a>Am. Van Stiphout (Praeses)</a>
		<a>Am. De Wilde jr. (Fiscus)</a>
		<a>Ama. Marting (Acquisitie)</a>
		<a>Ama. Blokhuis</a>
		<a>Am. Haasnoot jr.</a>
		<a>Am. Kanis</a>
		<a>Ama. Visscher</a>
	</div>
</div>

<div class="divider">
	<img class="onder" src="/images/lustrum12/DividerOnder.png">
</div>

</body>
</html>
