<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrumdies') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">

<nav class="site-header">
	<a class="logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<a class="logo-titel dies-logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/dies_bord.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">

			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<a class="d-none d-md-inline-block" href="#poster">Poster</a>
			<a class="d-none d-md-inline-block" href="#informatie">Gala Informatie</a>
			<a class="d-none d-md-inline-block" href="#ketzers">Gala Ketzers</a>
			<a class="d-none d-md-inline-block" href="./dies/etiquette">Etiquette</a>
		</div>
	</div>
</nav>
<a id="top"></a>
<a id="poster"></a>

<section class="helemaal-boven">
	<div class="poster">
		<img src="/images/lustrum12/11_lustrum_gala/dies_gala_poster.jpg" alt="Logo menu" />
	</div>
	<h2 class="titel ondertitel"><a class="titel ondertitel" href="/tijdloos/dies/etiquette"><u>Hier</u></a> kan u uw kennis van de gala etiquette weer helemaal opfrissen.</h2>
</section>

<div class="divider">
	<img class="tussen" src="/images/lustrum12/dies_divider.png">
</div>

<a id="informatie"></a>

<section id="gala beschrijving" class="galabeschrijving column-overzicht">
	<div class="container">
		<h1>Gala informatie</h1>
		<div class="fluid-columns">

			<p class="heavy">Beste leden, lieve novieten,</p>
			<p  class="heavy">Als klap op de vuurpijl van het lustrum kunt u genieten van een gala als nooit te voren. Omdat het een lustrumgala is hebben we extra uitgepakt. Zo zijn eens in de vijf jaar oud-leden ook welkom om te genieten van dit mooie feest. Het gala is wat langer, namelijk inclusief overnachting! Het belooft een gala te worden voor in de boeken, dit wilt u niet missen!</p>

			<h4>Wat kunt u allemaal verwachten?</h4>
			<p>Op vrijdag 21 oktober rond 14 uur vertrekt de bus richting de locatie, aa aankomst krijgt u de mogelijkheid om uzelf in uw mooiste rokkostuum of galajurk te hijsen en gezellig op te tutten. 's Avonds kunt u genieten van een heerlijk uitgeserveerd diner met een aantal speeches.</p>


			<p>Het feest barst daarna los! We slapen op de locatie dus u kunt zo lang doorfeesten als u zelf wilt en zit niet aan een vertrektijd van de bussen vast, ideaal!
				De dag erop zal er een heerlijke brunch voor u klaarstaan zodat u uw brakheid kunt verwerken. Na afloop van de brunch zullen de bussen weer richting Delft gaan.
				Op de locatie zijn 4-persoons kamers aanwezig voor leden. Over kamerindeling volgt nog een vragenlijst over. </p>

			<div>
				<h4>Kosten</h4>
				<p>Helaas hebben leuke dingen ook een prijs. De LustrumCie heeft er alles aan gedaan om het gala zo goedkoop mogelijk te maken. U kunt rekenen op een prijs van rond de €120 per persoon. Wij realiseren ons dat dit vrij prijzig is ten opzichte van het voorgaande jaren. Omdat het het 12e lustrum is en we afgelopen jaar minder gala/feesten/partijen hebben mogen meemaken hebben wij hiervoor gekozen. Voor diner, overnachting en brunch is dit een zeer schappelijke prijs.</p>
			</div>

			<div>
				<h4>COVID-19</h4>
				<p>Voor nu gaan wij en de locatie ervan uit dat het gala in oktober gewoon door kan blijven gaan. Wanneer hier verandering in komt, brengen we u zo snel mogelijk op de hoogte. Indien het niet mogelijk is binnen de maatregelen wordt het verzet naar een ander te bepalen datum.</p>
			</div>

			<p>Wanneer u zich inketzt, bent u ingeketzt als koppel. Geef naarmate het gala nadert zo snel mogelijk in de ketzer aan wie jouw date is en welk gerecht je wil eten (keuze uit vega en niet-vega).
				Als u nog vragen heeft, stel ze gerust. Heel veel plezier met het schrijven van de brieven en we hopen jullie allen te zien op dit prachtige gala!
				TLNG: 21 oktober LUSTRUMGALA, wordt ziek leip, inketzen!</p>
		</div>
	</div>
</section>

<div id="ketzers" class="divider">
	<img class="tussen" src="/images/lustrum12/dies_divider.png">
</div>

<section id="gala ketzers">

	<div class="ketzers">
		<h2 class="titel">Gala Ketzers:</h2>
		<div class="ketzer">
			{{'[activiteit=12014]'|bbcode }}
		</div>
		<div class="ketzer">
			{{'[activiteit=11871]'|bbcode }}
		</div>
	</div>

	<a class="divider onder"></a>
</section>
</body>
</html>
