<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-donker') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrumweek2') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{% include 'lustrum12/zandloper.html.twig' %}
<nav class="site-header">
	<a class="logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<a class="d-none d-md-inline-block" href="#activiteiten">Activiteiten</a>
			<a class="d-none d-md-inline-block" href="#ketzers">Ketzers</a>
			<a class="d-none d-md-inline-block" href="#fotos">Foto's</a>
		</div>
	</div>
</nav>

<div id="top"></div>

<div id="poster" class="poster-container">
	<div class="divider">
		<img class="tussen" src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_divider.png">
	</div>
	<h1 class="titel">Poster</h1>
	<div class="poster">
		<img src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_poster.jpg" alt="Logo menu" />
	</div>
</div>

<div id="activiteiten" class="divider">
	<img class="tussen" src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_divider.png">
</div>

<div class="activiteiten">
	<h1 class="titel">Activiteiten</h1>
	<div id="poster" class="poster">
		<img src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_activiteiten_overzicht.jpg" alt="Activiteiten overzicht" />
		<p></p>
		<h3 class="titel">Maandag</h3>
		<img src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_activiteiten_maandag.jpg" alt="Activiteiten maandag" />
		<p></p>
		<h3 class="titel">Donderdag</h3>
		<img src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_activiteiten_donderdag.jpg" alt="Activiteiten donderdag" />

	</div>
</div>

<div class="divider">
	<img id="ketzers" class="tussen" src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_divider.png">
</div>

<div class="ketzers">
	<h1 class="titel">Ketzers</h1>

	<h3 class="titel">Theatervoorstelling woensdag</h3>

	<a href="https://csrdelft.nl/forum/reactie/130822#130822">
		<h4 class="titel">
			<u>Kijk voor meer info in het lezingen
				draadje (klik)</u>
		</h4>
	</a>
</div>

<div class="divider">
	<img id="lasergamen" class="tussen" src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_divider.png">
</div>

<div class="ketzers">
	<br>
	<h3 class="titel">Lasergamen</h3>
	<h6 class="titel">Er zijn per dag twee slots beschikbaar om zo veel mogelijk mensen de kans te geven. <p></p>
		Waarschijnlijk doen we meerdere potjes van 4 tegen 4 gedurend het uur. <p></p> Wij verzorgen geen lunch. Neem een
		geldige QR code en ID mee.
	</h6>
</div>

<div class="divider">
	<img id="lasergamen" class="tussen" src="/images/lustrum12/05_lustrumweek_tndt/lustrumweek2_divider.png">
</div>

<div id="fotos" class="ketzers">
	<h2 class="titel">Foto's</h2>
	<div class="ketzers-container overflow-hidden ketzer">
		{{ '[fotoalbum]/2021-2022/21-11-08 tot 21-11-12 Lustrumweek Terug Naar de Toekomst/21-11-08 Pyjamaborrel[/fotoalbum]'|bbcode }}
		{{ '[fotoalbum]/2021-2022/21-11-08 tot 21-11-12 Lustrumweek Terug Naar de Toekomst/21-11-11 Lustrumfeest[/fotoalbum]'|bbcode }}
	</div>
</div>

</body>
