<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrumweek') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
	{%  include 'lustrum12/zandloper.html.twig' %}

	<nav class="site-header">
		<a class="logo-titel d-inline-block" href="./">
			<img src="/images/lustrum12//themaheader.png"
					 alt="Logo menu" />
		</a>
		<div class="container">
			<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center headerbuttons">
				<a class="d-none d-md-inline-block" href="./">Home</a>
				<a class="d-none d-md-inline-block" href="#top">Top</a>
				<a class="d-none d-md-inline-block" href="#programma">Programma</a>
				<!-- <a class="d-none d-md-inline-block" href="#poster">Poster</a> -->
			</div>
		</div>
	</nav>

	<a class="anchor glow" id="top"></a>

	<div class="lw-thema">
		<h1 class="lw-titel">stressloos</h1>
		<h2 class="lw-ondertitel">lustrumweek 3-7 juli</h2>
	</div>

	<div class="divider"></div>

	<div class="lw-programma">
		<a class="anchor glow" id="programma"> </a>
		<!-- zaterdag -->
		<div class="lw-dag">
			<h1 class="lw-titel">Zaterdag - 3 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Uitbrakbrunch</h2>
				<p class="lw-beschrijving">
					Na de slot LEF genieten van een bruch! Kosten rond de 2 euro. Ketz je voor je huis/zelf in.
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Bring your own beer/ball</h2>
				<p class="lw-beschrijving">
					Chillen in het Delftse hout onder het genot van een biertje, potje voetbal of ander stressloos vermaak. Inketzen is louter zodat we een idee hebben van opkomst.
				</p>
			</div>
		</div>

		<div class="divider"></div>

		<!-- zondag -->
		<div class="lw-dag">
			<h1 class="lw-titel">Zondag - 4 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Kerkplan</h2>
				<p class="lw-beschrijving">
					Samen een dienst kijken/bezoeken.
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Mens erger je niet</h2>
				<p class="lw-beschrijving">
					Spelletjes middag: ketz je in om ergens samen een (bord)spelletje te doen op de zondagmiddag!
				</p>
			</div>
		</div>

		<div class="divider"></div>

		<!-- maandag -->
		<div class="lw-dag">

			<h1 class="lw-titel">Maandag - 5 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Uitwaaien (Dagje Efteling)</h2>
				<p class="lw-beschrijving">
					Met z'n allen naar de Efteling! Met een AH kortings kaart kost het rond de 30 euro pp. Let op! je moet zelf je kaartje kopen.
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Borrel</h2>
				<p class="lw-beschrijving"></p>
			</div>
		</div>

		<div class="divider"></div>

		<!-- dinsdag -->
		<div class="lw-dag">
			<h1 class="lw-titel">Dinsdag - 6 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Verticaledag</h2>
				<p class="lw-beschrijving">
					Ga erop uit met je verticale (eigen invulling)!
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Borrel</h2>
				<p class="lw-beschrijving">
				</p>
			</div>
		</div>

		<div class="divider"></div>

		<!-- woensdag -->
		<div class="lw-dag">
			<h1 class="lw-titel">Woensdag - 7 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Lichtingslunch</h2>
				<p class="lw-beschrijving">
					Ga gezellig lunchen met je lichting.
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Pimp-je-fiets</h2>
				<p class="lw-beschrijving">
					Wie wil er niet een kleurrijke fiets? Kom en spuit je fiets alle kleuren van de regenboog.
				</p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Bioscoop</h2>
				<p class="lw-beschrijving">
					Naar de film! Bij genoeg animo zullen de kosten rond de 15euro pp liggen, inclusief gehele zaal, popcorn en frisdrank.
				</p>
			</div>
		</div>

		<div class="divider"></div>

		<!-- donderdag -->
		<div class="lw-dag">
			<h1 class="lw-titel">Donderdag - 8 juli</h1>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Destress on the beach</h2>
				<p class="lw-beschrijving">
					Zon, water en chillings: wat wil je nog meer? Het belooft een leipe stranddag te worden. Eventuele kosten worden nog gecommuniceerd.                 </p>
			</div>
			<div class="lw-onderdeel">
				<h2 class="lw-titel">Borrel</h2>
				<p class="lw-beschrijving">
				</p>
			</div>
		</div>
	</div>

	<div class="divider"></div>

	<!-- <a class="anchor glow" id="poster"> </a>
	<div class="lw-poster">
			<img class="lw-poster-plaetje" src="/images/lustrum12/lw-poster.png" alt="Lustrumweek Poster" />
	</div> -->

</body>
