<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrum') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{% include 'lustrum12/zandloper.html.twig' %}


<nav class="site-header">
	<a class="logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="./">Home</a>
			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<a class="d-none d-md-inline-block" href="#beschrijving">Beschrijving</a>
			<a class="d-none d-md-inline-block" href="#ketzers">Ketzer</a>
			<a class="d-none d-md-inline-block" href="#fotos">Foto's</a>
		</div>
	</div>
	</div>
</nav>

<div id="top" class="divider">
	<img id="beschrijving" class="helemaal-boven" src="/images/lustrum12/DividerBoven.png" alt="">
</div>


<div class="beschrijving pb-3">
	<h2 class="titel">Hoogtij(d)</h2>
	<p>Je doet alsof je aan het studeren bent, maar stiekem staar je naar buiten. Naar een hemelsblauwe lucht en goudgeel
		zonnetje. Verlangend naar een heerlijk dagje op het strand, in plaats van het muffe hok wat je je kamer noemt. Nou
		dat kan geregeld worden! Heerlijk met de vereniging naar het strand. Kom genieten van de zon, de zee en het zand. In
		de avond zal er ook een overheerlijke barbecue zijn, want wat is nou een dagje op het strand zonder barbecue. Oh,
		vergeet je zwemkleding niet, die kan je misschien nodig hebben!</p>
</div>
<div id="poster" class="poster">
	<img src="/images/lustrum12/09_hoogtijd/hoogtijd_poster.jpg" alt="Poster" />
</div>

<div id="praktisch" class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png" alt=""></div>

<div class="beschrijving">
	<h2 class="titel"> Even praktisch: </h2>
	<p>Datum: 10 juni 2022</p>
	<p>Tijd: vanaf 15:00, bbq rond 18:00</p>
	<p>Locatie: Bandu Beach, Scheveningen</p>
	<p>Kosten: +- 15 euro</p>
	<p>BBQ, Volleybal, Bubbelvoetbal, Stormbaan</p>
</div>

<div id="ketzers" class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png" alt=""></div>

<div class="ketzers">
	<h2 class="titel"> Ketzer </h2>
	<div class="ketzers-container">
		{{ '[activiteit=11849]'|bbcode }}
	</div>
	<div class="ketzers-container">
		{{ '[activiteit=11877]'|bbcode }}
	</div>
</div>

<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>


<div id="fotos" class="ketzers">
	<h2 class="titel">Foto's</h2>
	<div class="ketzers-container overflow-hidden">
		{{ '[fotoalbum]/2021-2022/22-06-10 Lustrum Slot Activiteit[/fotoalbum]'|bbcode }}


	</div>
	<div class="ketzers-container overflow-hidden">
		{{ '[fotoalbum]/2021-2022/22-06-10 Lustrum Slot Activiteit Analoog[/fotoalbum]'|bbcode }}
	</div>
</div>


<div class="divider">
	<img class="onder" src="/images/lustrum12/DividerOnder.png" alt="">
</div>

</body>
</html>
