<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 12e lustrum der Civitas Studiosorum Reformatorum onder het thema Tijdloos.">
	<meta name="author" content="Job Kanis">

	<title>Tijdloos - 12e lustrum</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-lustrum') }}
	{{ css_asset('common') }}
	{{ css_asset('lustrum') }}

	{% include 'common/sentry.html.twig' %}

	<link rel="icon" href="/lustrum12/favicon.ico">
</head>

<body class="zijbalk_verborgen">
{% include 'lustrum12/zandloper.html.twig' %}

<nav class="site-header">
	<a class="logo-titel d-inline-block" href="./">
		<img src="/images/lustrum12/themaheader.png"
				 alt="Logo menu" />
	</a>
	<div class="container">
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="./">Home</a>
			<a class="d-none d-md-inline-block" href="#top">Top</a>
			<a class="d-none d-md-inline-block" href="#beschrijving">Beschrijving</a>
			<a class="d-none d-md-inline-block" href="#poster">Poster</a>
			<a class="d-none d-md-inline-block" href="#ketzers">Ketzer</a>
			<a class="d-none d-md-inline-block" href="#fotos">Foto's</a>
		</div>
	</div>
</nav>

<div id="top" class="divider">
	<img id="beschrijving" class="helemaal-boven" src="/images/lustrum12/DividerBoven.png">
</div>

<div class="beschrijving">
	<h2 class="titel"> Zing Mee </h2>
	<p>
		Kom gezellig in een volle achterzaal meezingen op livemuziek van een louter muzikale ledenband. Met een breed scala
		aan bekende meezing nummers zullen we met elkaar eens laten zien dat Confide weer helemaal open is. Geniet van een
		drankje (water, pilsch, fris) aan tafel, die de LustrumCie speciaal op verzoek voor u weer helemaal bij komt vullen.
		Let hier een beetje op elkaar en houd het mos in uw achterhoofd: niet gieten, maar genieten. Zo hoeft u dus geen
		moment te missen en gaat u hopelijk weg met een hoop actieve herinneringen zoals ‘Ik wist niet dat Am. Van Stiphout
		kon zingen’, ‘Knap dat Am. Haasnoot jr. een koprol kan’ of ‘Wat grappig dat Ama. Blokhuis haar blokfluit heeft
		meegenomen’. Lieve leden en novieten, onthoud boven alles: Hard zingen is mooi zingen!
	</p>
	<h4 class="titel"> Even praktisch: </h4>
	<p>Een geldige QR-code is hierbij verplicht.</p>
	<p>Datum: 6 oktober 2021</p>
	<p>Tijd: inloop 20:00, start 21:00</p>
	<p>Locatie: Confide</p>
	<p>Kosten: 2 euro</p>
	<p>Muntverkoop aan de voorbar, borrel na afloop</p>
</div>

<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>

<div id="poster" class="poster">
	<img src="/images/lustrum12/04_zing_mee/zing_mee_poster.jpg" alt="Logo menu" />
</div>

<div class="divider"><img class="tussen" src="/images/lustrum12/DividerTussen.png"></div>

<div id="ketzers" class="ketzers">
	<h2 class="titel">Ketzer</h2>
	<div class="ketzers-container">
		{{ '[activiteit=11569]'|bbcode }}
	</div>
</div>


<div class="divider">
	<img class="tussen" src="/images/lustrum12/DividerTussen.png">
</div>


<div id="fotos" class="ketzers">
	<h2 class="titel">Foto's</h2>
	<div class="ketzers-container overflow-hidden">
		{{ '[fotoalbum]/2021-2022/21-10-06 Zing mee[/fotoalbum]'|bbcode }}
	</div>
</div>

<div class="divider">
	<img class="onder" src="/images/lustrum12/DividerOnder.png">
</div>

</body>
