<div class="zijbalk_forum">
	<div class="zijbalk-kopje">
		{% if belangrijk %}
			<a href="{{ url('csrdelft_forum_forum_belangrijk') }}">Forum belangrijk</a>
		{% else %}
			<a href="{{ url('csrdelft_forum_forum_recent') }}">Forum</a>
		{% endif %}

		{% if is_granted('ROLE_FORUM_MOD') and aantalWacht > 0 %}
			&nbsp;<a href="{{ url('csrdelft_forum_forumdeel_wacht') }}" class="badge bg-primary text-white"
							 title="{{ aantalWacht }} forumbericht{{ (aantalWacht == 1 ? '' : 'en') }} wacht{{ (aantalWacht == 1 ? '' : 'en') }} op goedkeuring">{{ aantalWacht }}</a>
		{% endif %}
	</div>

	{% for draad in draden %}

		{% if lid_instelling('forum', 'open_draad_op_pagina') == 'ongelezen' %}
			{% set urlHash = 'ongelezen' %}
		{% elseif lid_instelling('forum', 'open_draad_op_pagina') == 'laatste' %}
			{% set urlHash = 'reageren' %}
		{% else %}
			{% set urlHash = '' %}
		{% endif %}

		{% set ongelezenWeergave = lid_instelling('forum', 'ongelezenWeergave') %}

		<div class="item" id="forumdraad-row-{{ draad.draad_id }}">
			<a href="{{ url('csrdelft_forum_forumdraad_onderwerp', {draad_id: draad.draad_id, _fragment: urlHash}) }}"
				 title="{{ draad.titel }}"
				 {% if app.user and draad.ongelezen %}class="{{ ongelezenWeergave }}"{% endif %}>
				<span class="zijbalk-moment">{{ draad.laatst_gewijzigd | zijbalk_date_format }}</span>&nbsp;{{ draad.titel | raw }}
			</a>
		</div>
	{% endfor %}
</div>
