{% if is_granted('ROLE_LOGGED_IN') %}
	{% if deel is defined and deel.magMeldingKrijgen %}
		<div class="btn-group me-2">
			<a href="{{ url('csrdelft_forum_forummelding_deelmelding', {forum_id: deel.forum_id, niveau: 'uit'}) }}"
				 class="btn btn-light post ReloadPage melding-nooit {% if not deel.lidWilMeldingVoorDeel %}active{% endif %}"
				 title="Geen meldingen voor forumdeel onvangen">
				{{ icon('bell-slash') }}
			</a>
			<a href="{{ url('csrdelft_forum_forummelding_deelmelding', {forum_id: deel.forum_id, niveau: 'aan'}) }}"
				 class="btn btn-light post ReloadPage melding-altijd {% if deel.lidWilMeldingVoorDeel %}active{% endif %}"
				 title="Meldingen ontvangen voor nieuwe berichten in forumdeel">
				{{ icon('bell') }}
			</a>
		</div>
	{% endif %}
	<div class="btn-group me-2">
		<a href="{{ url('csrdelft_forum_forumdradenverbergen_toonalles') }}" class="btn btn-light post confirm ReloadPage"
			 title="Verborgen onderwerpen weer laten zien">
			{{ icon('tonen') }} {{ getAantalVerborgenVoorLid() }}
		</a>
	</div>
	{% if deel is not defined or (deel.forum_id is not empty and deel.magModereren) %}
		<div class="btn-group me-2">
			<a href="{{ url('csrdelft_forum_forumdeel_wacht') }}" class="btn btn-light"
				 title="Reacties die wachten op goedkeuring">
				{{ icon('hourglass') }} {{ getAantalWachtOpGoedkeuring() }}
			</a>
		</div>
	{% endif %}
{% endif %}
