<div id="forumpost-row-{{ post.post_id }}" data-post-id="{{ post.uid }}" class="forum-post list-group-item border-0 py-4 px-0 px-sm-3">
	<div class="d-flex flex-row gap-3">
		{% if app.user and post.uid != 'x999' %}
			<div class="pasfoto-container">
				{{ get_profiel(post.uid).pasfotoRounded | raw }}
			</div>
		{% endif %}
		<div class="text-container flex-grow-1">
			<div
				class="d-flex justify-content-between align-items-center"
			>
				<span>
					{{ get_profiel(post.uid).link('user') | raw }}
				</span>

				<p class="text-black-50 m-0 fw-light text-truncate">
					{% if lid_instelling('forum', 'datumWeergave') == 'relatief' %}
						{{ post.datum_tijd | reldate }}
					{% else %}
						{{ post.datum_tijd | datetime_format }}
					{% endif %}
				</p>
			</div>
			<div id="post{{ post.post_id }}" data-uid="{{ post.uid }}" data-naam="{{ get_profiel(post.uid).naam }}" class="forum-bericht fw-light mb-3">
				{% set account = get_profiel(post.uid).account %}
				{% if account is not none and account.perm_role == 'R_PUBCIE' %}
					{{ post.tekst | bbcode('html') }}
				{% else %}
					{{ post.tekst | bbcode }}
				{% endif %}
				{% if post.bewerkt_tekst %}
					<div class="bewerkt clear">
						<hr/>
						{{ post.bewerkt_tekst | bbcode }}
					</div>
				{% endif %}
			</div>

			{{ include('forum/partial/post_foot_buttons.html.twig') }}
		</div>
	</div>
</div>
