<div id="forumpost-row-{{ post.post_id }}" data-post-id="{{ post.uid }}" class="forum-post list-group-item border-0 py-4 px-0 px-sm-3">
	<div class="d-flex flex-row gap-3">
		<div class="pasfoto">
			{% if app.user and post.uid != 'x999' %}
				{{ get_profiel(post.uid).pasfotoRounded | raw }}
			{% endif %}
		</div>
		<div class="flex-grow-1">
			<div
				class="d-flex justify-content-between align-items-center"
			>
				<span>
					{{ get_profiel(post.uid).link('user') | raw }}
				</span>

				<p class="text-black-50 m-0 fw-light text-truncate">
					{% if lid_instelling('forum', 'datumWeergave') == 'relatief' %}
						{{ post.datum_tijd | reldate }}
					{% else %}
						{{ post.datum_tijd | datetime_format }}
					{% endif %}
				</p>
			</div>
			<div id="post{{ post.post_id }}" data-uid="{{ post.uid }}" data-naam="{{ get_profiel(post.uid).naam }}" class="forum-bericht fw-light mb-3">
				{% set account = get_profiel(post.uid).account %}
				{% if account is not none and account.perm_role == 'R_PUBCIE' %}
					{{ post.tekst | bbcode('html') }}
				{% else %}
					{{ post.tekst | bbcode }}
				{% endif %}
				{% if post.bewerkt_tekst %}
					<div class="bewerkt clear">
						<hr/>
						{{ post.bewerkt_tekst | bbcode }}
					</div>
				{% endif %}
			</div>

			<div
				class="btn-toolbar"
				role="toolbar"
				aria-label="Toolbar with button groups"
			>
				<div
					class="btn-group me-2"
					role="group"
					aria-label="First group"
				>
					<button
						type="button"
						class="btn btn-outline-primary btn-sm"
						data-bs-toggle="modal"
						data-bs-target="#nieuwDraadjeModal"
					>
						<i class="fas fa-link"></i>
						Link kopiëren
					</button>
				</div>

				{% if post.magCiteren %}
				<div
					class="btn-group me-2"
					role="group"
					aria-label="Second group"
				>
					<a href="#reageren" class="btn btn-outline-primary btn-sm citeren"
						data-citeren="{{ post.post_id }}"
						title="Bericht citeren">
						{{ icon('quote-left') }}
						Bericht citeren
					</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>



{# <div>
	<div class="auteur">
		<div class="postpijl">
			<a class="postanchor" id="{{ post.post_id }}"></a>
			<a class="postlink" href="{{ url('csrdelft_forum_forumdraad_reactie', {post_id: post.post_id, _fragment: post.post_id}) }}"
				 title="Link naar deze post">&rarr;</a>
		</div>

		{% if statistiek is defined and statistiek is not empty %}
			<span class="lichtgrijs small"
						title="Gelezen door {{ post.aantalGelezen }} van de {{ draad.aantalLezers }} lezers">
			{{ post.gelezenPercentage | format('%.0f') }}% gelezen
		</span>
		{% endif %}
		<div class="forumpostKnoppen">
			{% if post.wacht_goedkeuring %}
			<a href="{{ url('csrdelft_forum_forumpost_goedkeuren', {post_id: post.post_id}) }}" class="btn post confirm"
				 title="Bericht goedkeuren">{{ icon('check') }}</a>
			<a href="/forum/verwijderen/{{ post.post_id }}" class="btn post confirm"
				 title="Verwijder bericht of draad">{{ icon('cross') }}</a>
			{% if post.magBewerken %}
				<a href="#{{ post.post_id }}"
					 class="{% if app.user and app.user.uid != post.uid and not post.wacht_goedkeuring %}forummodknop{% endif %}"
					 onclick="window.forum.forumBewerken({{ post.post_id }});" title="Bewerk bericht">{{ icon('pencil') }}</a>
			{% endif %}
			{% else %}
			{% if post.verwijderd %}
				<div class="post-verwijderd">Deze reactie is verwijderd.</div>
				<a href="/forum/verwijderen/{{ post.post_id }}" class="btn post"
					 title="Bericht herstellen">{{ icon('arrow_undo') }}</a>
			{% endif %}
			{% if post.magCiteren %}
				<a href="#reageren" class="btn citeren" data-citeren="{{ post.post_id }}"
					 title="Citeer bericht">{{ icon('comments') }}</a>
			{% endif %}
			{% if post.magBewerken %}
				<a href="#{{ post.post_id }}"
					 class="{% if app.user and app.user.uid != post.uid and not post.wacht_goedkeuring %}forummodknop{% endif %}"
					 onclick="window.forum.forumBewerken({{ post.post_id }});" title="Bewerk bericht">{{ icon('pencil') }}</a>
			{% endif %}
			{% if app.user %}
				{% set timestamp = post.datum_tijd.timestamp %}
				<a id="timestamp{{ timestamp }}" href="{{ url('csrdelft_forum_forum_bladwijzer', {draad_id: post.draad_id}) }}"
					 class="btn post forummodknop bladwijzer" data="timestamp={{ timestamp }}"
					 title="Bladwijzer bij dit bericht leggen">{{ icon('tab') }}</a>
			{% endif %}
			{% if post.draad.magModereren %}
			<a href="/forum/offtopic/{{ post.post_id }}"
				 class="btn post confirm {% if not post.wacht_goedkeuring %}forummodknop{% endif %}"
				 title="Offtopic markeren">{{ icon('thumb_down') }}</a>
			{% if not post.verwijderd %}
			<a href="/forum/verwijderen/{{ post.post_id }}"
				 class="btn post confirm {% if not post.wacht_goedkeuring %}forummodknop{% endif %}"
				 title="Verwijder bericht">{{ icon('cross') }}</a>
			{% endif %}
			<a href="/forum/verplaatsen/{{ post.post_id }}"
				 class="btn post prompt {% if not post.wacht_goedkeuring %}forummodknop{% endif %}" title="Verplaats bericht"
				 data="draad_id={{ post.draad_id }}">{{ icon('arrow_right') }}</a>
			{% endif %}
			{% endif %}
		</div>
	</div>
</div> #}
