{% extends 'base.html.twig' %}

{% block titel %}{{ titel }}{% endblock %}

{% block styles %}
	{{ css_asset('app') }}
{% endblock %}

{% block content %}
	<h2>{{ titel }}</h2>

	{% if declaraties %}
		<div class="table-responsive">
			<table class="table table-hover declaratie-table">
			<thead>
				<tr>
					<th>Nummer</th>
					{% if not personal %}

					{% endif %}
					<th>Datum</th>
					<th>Categorie</th>
					<th>Omschrijving</th>
					<th>Bedrag incl. btw</th>
				</tr>
			</thead>
			<tbody>
				{% for declaratie in declaraties %}
					<tr onclick="window.location='{{ path('declaratie_detail', {'declaratie': declaratie.id}) }}';">
						<td>
							<span class="status {{ declaratie.listStatus }}"
										title="Status: {{ declaratie.status }}">
								{% if declaratie.nummer %}
									{{ declaratie.nummer }}
								{% else %}
									#{{ declaratie.id }}
								{% endif %}
							</span>
						</td>
						<td>{% if declaratie.ingediend %}{{ declaratie.ingediend|date('d-m-Y') }}{% endif %}</td>
						<td>{{ declaratie.categorie.naam }}</td>
						<td>{{ declaratie.omschrijving }}</td>
						<td>{{ (declaratie.totaal * 100)|format_bedrag }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		</div>
	{% else %}
		<div class="alert alert-info" role="alert">
			Geen declaraties gevonden.
		</div>
	{% endif %}
{% endblock %}
