<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor de 59e dies der Civitas Studiosorum Reformatorum onder het thema Gateway of India.">
	<meta name="author" content="Gerben Oolbekkink">

	<title>Gateway of India - Dies 2021</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('thema-dies') }}
	{{ css_asset('common') }}
	{{ css_asset('dies') }}

	<script>
		{# Configuratie voor Sentry, zie sentry.ts #}
		APP_ENV = "{{ app.environment }}";
		SENTRY_DSN_JS = "{{ sentry_dsn }}";
		USER = "{{ app.user.uid }}";
	</script>
	{{ js_asset('sentry') }}

	<link rel="icon" href="/dies/2021/favicon.ico">
</head>

<body class="zijbalk_verborgen">
<a id="home"></a>
<nav class="site-header">
	<div class="container">
		<a class="logo-titel d-inline-block" href="#">
			<img src="/images/dies/logo-menu.png"
					 srcset="/images/dies/logo-menu.png 320w, /images/dies/logo-menu-2x.png 1000w"
					 alt="Logo menu" />
		</a>
		<div class="menu d-flex flex-column flex-md-row justify-content-between align-items-center">
			<a class="d-none d-md-inline-block" href="/gateway-of-india/#home">Home</a>
			<a class="d-none d-md-inline-block" href="/gateway-of-india/#filmpje">Themafilmpje</a>
			<a class="d-none d-md-inline-block" href="/gateway-of-india/#programma">Programma</a>
			<!-- <a class="d-none d-md-inline-block" href="/gateway-of-india/#commissie">Commissie</a> -->
			<a class="d-none d-md-inline-block" href="/gateway-of-india/ketzers">Ketzers</a>
			<a class="d-none d-md-inline-block" href="/gateway-of-india/livestream">Livestream</a>
		</div>
	</div>
</nav>

<section class="head">
	<div class="container">
		<div class="logo-container">
			<img class="logo-groot" src="/images/dies/poster.jpg" alt="Logo"
					 srcset="/images/dies/poster.jpg 600w, /images/dies/poster-2x.jpg 1200w"
					 sizes="40vw" />
		</div>
	</div>
</section>
<section class="video">
	<a class="anchor" id="filmpje"></a>
	<h2>Themafilmpje</h2>
	<div class="container">
		<div class="video-container">
			<div class="youtube-container closed">
				<div class="embed-responsive embed-responsive-16by9" id="player"></div>
			</div>
		</div>
	</div>
</section>
<section class="programma">
	<a class="anchor" id="programma"></a>
	<h2>Programma</h2>
	<div class="container">
		<div class="logo-container">
			<img src="/images/dies/programma poster.jpg"
					 srcset="/images/dies/programma poster.jpg 320w, /images/dies/programma poster-2x.jpg 1000w"
					 alt="Programma poster" />
		<div>
	</div>
</section>
<!-- <section class="commissie">
		<a class="anchor" id="commissie"></a>
		<h2>Commissie</h2>
		<div class="container">
				<div class="diescie-foto-container">
						<img class="diescie-foto img-fluid" src="${require('../src/assets/images/diescie.jpg')}"
								srcset="${require('../src/assets/images/diescie.jpg')} 320w, ${require('../src/assets/images/diescie-2x.jpg')} 2000w"
								alt="Dies Commissie" />
				</div>
		</div>
</section> -->
</body>

<script type="text/javascript">
	window.addEventListener('load', function () {
		document.getElementById("player").innerHTML =
			`<iframe src="https://www.youtube-nocookie.com/embed/JDAUpwCbUog?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>`
	});
</script>
</html>
