<li id="menu-item-{{ item.item_id }}" parentid="{{ item.parent ? item.parent.item_id : null }}" class="menu-item">
	{% if item.children %}
		<button class="btn btn-sm caret"
						onclick="$(this).parent().children('ul').slideToggle();$(this).children('span.fa').toggleClass('fa-caret-right fa-caret-down');">
			<i class="fas fa-caret-down fa-fw"></i>
		</button>
	{% endif %}
	<div class="menu-item-row row">
		<div class="col">
			<span class="text-muted">{{ item.volgorde }}</span>
			<span>{{ item.tekst }}</span>
			[<a href="{{ item.link }}">{{ item.link }}</a>]
			{% if is_granted('ROLE_ADMIN') and item.item_id is not none and item.item_id > 0 %}
				<span class="text-muted">({{ item.item_id }})</span>
			{% endif %}
		</div>
		<div class="col-auto">
			{% if item.rechten_bekijken != 'ROLE_PUBLIC' and item.rechten_bekijken != app.user.uid %}
				<button class="btn btn-sm"
								disabled>{{ icon('group_key', null, 'Rechten bekijken: &#013; ' ~ item.rechten_bekijken) }}</button>
			{% endif %}
			{% if item.item_id is not none and item.item_id > 0 %}
				<a href="{{ url('csrdelft_menubeheer_verwijderen', {itemId: item.item_id}) }}"
					 class="btn btn-sm post confirm ReloadPage"
					 title="Dit menu-item definitief verwijderen">
					{{ icon('cross') }}
				</a>
				<a href="{{ url('csrdelft_menubeheer_zichtbaar', {itemId: item.item_id}) }}" class="btn btn-sm post ReloadPage"
					{% if item.zichtbaar %}
						title="Menu-item is nu zichtbaar"
					{% else %}
						title="Menu-item is nu onzichtbaar"
					{% endif %}
				>
					{% if item.zichtbaar %}
						{{ icon('eye') }}
					{% else %}
						{{ icon('shading') }}
					{% endif %}
				</a>
				{% if is_granted('ROLE_ADMIN') %}
					<a href="{{ url('csrdelft_menubeheer_toevoegen', {parentId: item.item_id}) }}" class="btn btn-sm post popup"
						 title="Sub-menu-item toevoegen">
						{{ icon('add') }}
					</a>
				{% endif %}
				<a href="{{ url('csrdelft_menubeheer_bewerken', {itemId: item.item_id}) }}" class="btn btn-sm post popup"
					 title="Dit menu-item bewerken">{{ icon('bewerken') }}</a>
			{% else %}
				<button class="btn btn-sm" disabled>
					{{ icon('wand', null, 'Automatisch menu item') }}
				</button>
			{% endif %}
		</div>
	</div>
	{% if item.children %}
		<ul class="menubeheer-tree">
			{% for child in item.children %}
				{{ include('menubeheer/item.html.twig', {item: child}) }}
			{% endfor %}
		</ul>
	{% endif %}
</li>
