<div class="menu-item-row row">
	<div class="col">
<span>
	{% if root.tekst == app.user.uid %}
		Favorieten
	{% else %}
		{{ root.tekst }}
	{% endif %}
</span>
		{% if mag('P_ADMIN') %}
			<span class="text-muted">({{ root.item_id }})</span>
		{% endif %}
	</div>
	<div class="col-auto">
		<a href="{{ url('csrdelft_menubeheer_toevoegen', {parentId: root.item_id}) }}" class="btn btn-sm post popup"
			 title="Menu-item toevoegen">
			{{ icon('toevoegen') }}
		</a>
		{% if mag('P_ADMIN') %}
			<a href="{{ url('csrdelft_menubeheer_bewerken', {itemId: root.item_id}) }}" class="btn btn-sm post popup"
				 title="Dit menu bewerken">
				{{ icon('bewerken') }}
			</a>
		{% endif %}
	</div>
</div>
