{% if album.fotos is empty and album.subAlbums is not empty %}
	{% set album = random(album.subAlbums) %}
{% endif %}
<div id="zijbalk_fotoalbum">
	<div class="zijbalk-kopje"><a href="{{ url('csrdelft_fotoalbum_bekijken', {dir: jaargang}) }}">Fotoalbum</a></div>
	<div class="item">
		<p><a href="{{ album.url }}">{{ album.dirname }}</a></p>
		<div class="fotos">
			{% set limit = lid_instelling('zijbalk', 'fotos') %}
			{% for foto in album.fotos | shuffle | slice(0, limit) %}
				<a href="{{ album.url }}#{{ foto.fullUrl }}">
					<img src="{{ foto.thumbUrl }}" alt="{{ foto.filename }}"/>
				</a>
			{% endfor %}
		</div>
	</div>
</div>
