{% extends 'base.html.twig' %}

{% block titel %}Streeplijstgenerator{% endblock %}

{% block content %}
	<h2>Streeplijstgenerator</h2>
	<p>Maak een streeplijst door de Streeplijstselectie leden en goederen voor je te laten invullen, of vul je eigen leden
		en goederen in onder 'maak je eigen lijst'. Sla je lijst op om deze later te bewerken en te genereren. Of genereer
		direct je lijst om deze te kunnen printen.
		Tip voor printen: Na het genereren kun je je streeplijst opslaan als pdf of direct printen.
		Dus. Stap 1: Doe bij je streeplijst in je browser "ctrl + P". Stap 2: Pas desgewenst het aantal pagina’s per blad of de ligging van de pagina aan.
	</p>
	<br>
	<h4>Tabel met je opgeslagen streeplijsten</h4>
	<table class="table table-striped">
		<thead>
		<tr>
			<th scope="col">Aanmaakdatum</th>
			<th scope="col">Streeplijst</th>
			<th scope="col">Leden van de streeplijst</th>
			<th scope="col">Inhoud van de streeplijst</th>
			<th scope="col"></th>
		</tr>
		</thead>
		<tbody>
		{% for streeplijst in streeplijstoverzicht %}
			<tr>
				<td>{{ streeplijst.aanmaakdatum | date_format }}</td>
				<td style="font-weight:bold">{{ streeplijst.naam_streeplijst }}</td>
				<td>{{ streeplijst.leden_streeplijst | truncate(318, '...') }}</td>
				<td>{{ streeplijst.inhoud_streeplijst }}</td>
				<td>
					<div class="btn-group" role="group" aria-label="Basic example">
						<a href="{{ url('csrdelft_streeplijst_genereren', {id: streeplijst.id}) }}">
							<span type="button" class="btn btn-success btn-sm">Genereer</span></a>
						<a href="{{ url('csrdelft_streeplijst_bewerken', {id: streeplijst.id}) }}">
							<span type="button" class="btn btn-warning btn-sm">Bewerk</span></a>
						<a href="{{ url('csrdelft_streeplijst_verwijderen', {id: streeplijst.id}) }}">
							<span type="button" class="btn btn-danger btn-sm">Verwijder</span></a>
					</div>
				</td>
			</tr>
		{% else %}
			<tr>
				<td colspan="5"><em>Je hebt nog geen opgeslagen streeplijsten. Sla hieronder een lijst op, om je eerste lijst te
						creeëren!</em></td>
			</tr>
		{% endfor %}
		</tbody>
	</table>

	<br>
	{% if is_granted("BESTUUR:HT,ROLE_ADMIN") %}
		<h4>HV-presentielijst</h4>
		<form action="{{ url('csrdelft_streeplijst_genererenhvpresentielijst') }}" method="get">
			<div>
				<p></p>
				<label for="naam_HVlijst">Presentielijst </label>
				<input size = "1" placeholder="..." name="naam_HVlijst" id="naam_HVlijst" type="text"
							 aria-describedby="naam_HVlijst"> e Huishoudelijke Vergadering
			</div>

			<div>
				<p></p>
				<label for="gedispenseerde_lijst">Lijst van mensen met dispensatie</label>
				<input size = "15" placeholder="Bijv. 1234,5678" name="gedispenseerde_lijst" id="gedispenseerde_lijst" type="text"
							 aria-describedby="gedispenseerde_lijst"> (plaats comma's tussen de lidnummers)
			</div>

			<div>
				<em>Streepopties</em>
				<input type="checkbox" id=Aanwezig name="HVStreepopties[]" value="Aanwezig" checked>
				<label for="Aanwezig">Aanwezig</label>
				<input type="checkbox" id="Dispensatie" name="HVStreepopties[]" value="Dispensatie">
				<label for="Dispensatie">Dispensatie</label>
				<input type="checkbox" id="Afwezig" name="HVStreepopties[]" value="Afwezig">
				<label for="Afwezig">Afwezig</label>
				<p></p></div>
			<div>
				<p></p>  <em>Type leden:</em>
				{% for status in lidstatus %}
					{% if status.description in ["Lid","Gastlid","Noviet"] %}
					<input type="checkbox" id="{{ status.value }}" name="ledentype[]" value="{{ status.value }}" checked>
					<label for="{{ status.value }}">{{ status.description }}</label>
					{% else %}
						<input type="checkbox" id="{{ status.value }}" name="ledentype[]" value="{{ status.value }}">
						<label for="{{ status.value }}">{{ status.description }}</label>
					{% endif %}
				{% endfor %}
				<p></p>
			</div>

			<div>
				<input type="submit" class="btn btn-success btn-xs" name="genereer" value="Genereer HV-presentielijst"/>
			</div>
		</form>
		<br>
	{% endif %}

	<h4>Streeplijstselectie</h4>
	<p></p>

	<form action="{{ url('csrdelft_streeplijst_selectie') }}" method="post">
		{{ csrfField() }}

		<h5> Leden op de streeplijst</h5>

		<div>
			<em>Verticale:</em>
			<input type="radio" name="verticale" id="alleverticale" value="alle" checked>
			<label for="alleverticale"> Alle </label>
			{% for verticale in verticalen %}
				{% if verticale.letter %}
					<input type="radio" name="verticale" id="verticale_{{ verticale.letter }}" value="{{ verticale.letter }}">
					<label for="verticale_{{ verticale.letter }}"> {{ verticale.naam }}</label>
				{% endif %}
			{% endfor %}
		</div>

		<div>
			<em>Lichting:</em>
			<div class="form-check form-check-inline">
				<input class="form-check-inline" type="radio" name="lichting" id="alle" value="alle" checked>
				<label class="form-check-label" for="alle">Alle</label>
			</div>
			{% for lichting in range(jongstelidjaar-8, jongstelidjaar) %}
				<div class="form-check form-check-inline">
					<input class="form-check-input" type="radio" name="lichting" id="lichting_{{ lichting }}"
								 value="{{ lichting }}">
					<label class="form-check-label" for="lichting_{{ lichting }}">{{ lichting }}</label>
				</div>
			{% endfor %}
		</div>

		<div>
			<p></p>  <em>Type leden:</em>
			{% for status in lidstatus %}
				<input type="checkbox" id="{{ status.value }}" name="ledentype[]" value="{{ status.value }}" checked>
				<label for="{{ status.value }}">{{ status.description }}</label>
			{% endfor %}
			<p></p>
		</div>

		<h5>Streepbare eenheden op de streeplijst</h5>
		<div><em>Drankassortiment:</em>
			<input type="checkbox" id="Gulpener" name="streepbareUnits[]" value="Gulpener">
			<label for="Gulpener">Gulpener</label>
			<input type="checkbox" id="Fris" name="streepbareUnits[]" value="Fris">
			<label for="Fris">Fris</label>
		</div>

		<h5>Opmaak</h5>
		<div>
			<em>Alfabetisch sorteren: </em>
			<input type="checkbox" id="Namen van leden" name="opmaakabc" value="Namen van leden">
			<label for="Namen van leden">Namen van leden </label>
			<input type="checkbox" id="Inhoud van lijst" name="opmaakInhoud" value="Inhoud van lijst">
			<label for="Inhoud van lijst">Inhoud van lijst</label>
		</div>

		<div>
			<em>Stijl van naamweergave: </em>
			<input type="radio" name="naamopmaak" id="VoorEnAchternaam" value="volledig" checked>
			<label for="VoorEnAchternaam">Voor- en achternaam</label>
			<input type="radio" name="naamopmaak" id="Achternaam" value="streeplijst">
			<label for="Achternaam">Achternaam, voornaam </label>
			<input type="radio" name="naamopmaak" id="Civitas" value="civitas">
			<label for="Civitas">Civitas</label>
			<p></p>
		</div>

		<input type="submit" class="btn btn-info btn-xs" name="selecteer" value="Geef de selectie"/>
		<br><br><br>
	</form>

	<h5>Maak je eigen lijst</h5>
	<p></p>
	<form method="get" id="streeplijstform">
		<div class="mb-3">
			<p></p>
			<label for="naam_streeplijst">Naam van de streeplijst:</label>
			<input placeholder="Naam van streeplijst" name="naam_streeplijst" id="naam_streeplijst" type="text"
						 value="{{ huidigestreeplijst.naam_streeplijst }}"
						 class="form-control" aria-describedby="naam_streeplijst">
		</div>

		<div class="mb-3">
			<label for="leden_streeplijst">Leden van streeplijst:</label>
			<textarea class="form-control AutoSize"
								placeholder="Voer hier je streepbare leden in. Scheid namen met een puntkomma. Bijv.: Pietje; Jantje; Puk"
								id="leden_streeplijst" name="leden_streeplijst" rows="3"
								cols="50">{{ huidigestreeplijst.leden_streeplijst }}</textarea>
		</div>
		<div class="mb-3">
			<label for="inhoud_streeplijst">Inhoud van streeplijst:</label>
			<textarea class="form-control AutoSize"
								placeholder="Voer hier je zelfgekozen streepbare goederen/dingen/eenheden in. Scheid dingen met een puntkomma. Bijv.: bier;wijn;wodka"
								id="inhoud_streeplijst" name="inhoud_streeplijst" rows="3"
								cols="50">{{ huidigestreeplijst.inhoud_streeplijst }}</textarea>
		</div>
		<br>

		<div class="btn-toolbar">
			<input type="button" onclick="this.form.action='{{ url('csrdelft_streeplijst_aanmaken') }}'; this.form.submit()"
						 class="btn btn-info btn-xs" name="opslaan" value="Sla lijst op"/>
			<input type="button"
						 onclick="this.form.action='{{ url('csrdelft_streeplijst_genererenzonderid') }}'; this.form.submit()"
						 class="btn btn-success btn-xs" name="genereer" value="Genereer lijst"/>
		</div>
	</form>
{% endblock %}
