{% extends 'base.html.twig' %}

{% block titel %}Pagina overzicht{% endblock %}

{% block content %}
	<h1>CMS paginas</h1>

	<table class="table table-striped">
		<thead>
		<tr>
			<th>Locatie</th>
			<th>Titel</th>
			<th>Laatst gewijzigd</th>
			<th>Rechten bekijken</th>
			<th>Rechten bewerken</th>
			<th>Inline HTML</th>
			<th></th>
		</tr>
		</thead>
		<tbody>
		{% for pagina in paginas %}
			{% if pagina.titel and is_granted('CmsPagina_bekijken', pagina) %}
				<tr>
					<td>/pagina/{{ pagina.naam }}</td>
					<td>{{ pagina.titel }}</td>
					<td>{{ pagina.laatstGewijzigd | reldate }}</td>
					<td>{{ pagina.rechtenBekijken }}</td>
					<td>{{ pagina.rechtenBewerken }}</td>
					<td>{{ pagina.inlineHtml ? icon('tick') : icon('cross') }}</td>
					<td>
						<div class="btn-group btn-group-sm">
							<a class="btn btn-light" href="{{ url('csrdelft_cmspagina_bekijken', {naam: pagina.naam}) }}"
								 title="Bekijken">{{ icon('eye') }}</a>
							{% if is_granted('bewerken', pagina) %}
								<a class="btn btn-light" href="{{ url('csrdelft_cmspagina_bewerken', {naam: pagina.naam}) }}"
									 title="Bewerken">{{ icon('bewerken') }}</a>
							{% endif %}
							{% if is_granted('verwijderen', pagina) %}
								<a class="btn btn-light" href="{{ url('csrdelft_cmspagina_verwijderen', {naam: pagina.naam}) }}"
									 title="Verwijderen">{{ icon('delete') }}</a>
							{% endif %}
						</div>
					</td>
				</tr>
			{% endif %}
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
