{% extends 'base.html.twig' %}

{% block titel %}Vereniging van Christenstudenten{% endblock %}

{% block body_inner %}
	<main class="container-fluid p-3 min-vh-100">
		{% include 'melding.html.twig' %}
		<div class="cd-page-content voorpagina container px-0 ratio ratio-3x2">
			<div class="grid-container p-0 p-md-3">
				<div class="cell cell-posters ratio ratio-5x4">{{ render(path('csrdelft_voorpagina_posters')) }}</div>
				<div class="cell cell-radio">
					{% set theme = lid_instelling('layout', 'opmaak') %}
					{% if theme == "donker" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=dark"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "normaal" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "dies" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=dark"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "lustrum" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=dark"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "roze" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=dark"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "koevoet" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=dark"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "sineregno" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=light"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "civitasia" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=light"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% elseif theme == "owee" %}
						<iframe class="radio" src="https://radio.csrdelft.nl/public/csrdelft/embed?theme=light"
										allowtransparency="true" title="C.S.R. Radio"></iframe>
					{% endif %}
				</div>
				<div class="cell cell-forum cell-overflow">{{ render(path('csrdelft_voorpagina_forum')) }}</div>
				<div class="cell cell-agenda cell-overflow">{{ render(path('csrdelft_voorpagina_agenda')) }}</div>
				<div class="cell cell-civi-saldo position-relative">{{ render(path('csrdelft_voorpagina_civisaldo')) }}</div>
				<div class="cell cell-is-het-al">{{ render(path('csrdelft_voorpagina_ishetal')) }}</div>
				<div class="cell cell-verjaardagen cell-overflow">{{ render(path('csrdelft_voorpagina_verjaardagen')) }}</div>
				<div class="cell cell-foto-albums">{{ render(path('csrdelft_voorpagina_fotoalbum')) }}</div>
				<div class="cell cell-overig">{{ render(path('csrdelft_voorpagina_overig')) }}</div>
			</div>
		</div>
		<div class="container p-0 p-md-3 mt-5">
			{# TODO: advertenties #}
			<div class="cell cell-advertenties gap-2">
				{{ cms('voorpagina_advertenties') }}
			</div>
		</div>
	</main>
{% endblock %}
