{% extends 'groep/tab.html.twig' %}

{% block type %}lijst{% endblock %}

{% block tabcontent %}
	<table class="groep-lijst table table-sm table-striped" role="presentation">
		<tbody>
		{% if is_granted('groep.aanmelden', groep) %}
			<tr>
				<td colspan="2">
					{{ aanmeldForm|raw }}

				</td>
			</tr>
		{% endif %}

		{% for lid in groep.ledenOpAchternaamGesorteerd %}
			<tr>
				<td>
					{% if is_granted('groep.afmelden', lid) %}
						<a href="{{ groep.url }}/ketzer/afmelden" class="post confirm float-start" title="Afmelden">' .
							{{ icon('circle-minus') }}
						</a>
					{% endif %}
					{{ lid.link | raw }}
				</td><td>
					{% if is_granted('groep.bewerken', lid) %}
						{{ groep_bewerken_form(lid, groep) }}
					{% else %}
						{{ lid.opmerking }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endblock %}
