{% extends 'groep/tab.html.twig' %}

{% block type %}pasfotos{% endblock %}

{% block tabcontent %}
	{% if is_granted('groep.aanmelden', groep) %}
		{{ aanmeldForm | raw }}
	{% endif %}

	{% for lid in groep.leden %}
		<a href="/profiel/{{lid.uid}}" title="{{lid.profiel.naam('volledig')}}" class="lidLink {{lid.profiel.status}}" data-lid="{{lid.uid}}" data-lid-naam="{{lid.profiel.naam('volledig')}}">
			<img class="pasfoto" loading="lazy" src="{{ lid.profiel.pasfoto }}" alt="Pasfoto van {{ lid.profiel.naam('volledig') }}">
		</a>
	{% endfor %}
{% endblock %}
