<div id="maaltijdketzer-{{ maaltijd.maaltijd_id }}" class="ms-1 media-body maaltijdketzer-{{ maaltijd.maaltijd_id }}" data-maaltijdnaam="{{ maaltijd.titel }}">
    {% if is_granted('ROLE_MAAL_IK') %}
        {% if not maaltijd.gesloten %}
            {% if aanmelding is defined and aanmelding is not none %}
                <a
                    onclick="window.ketzerAjax('{{ url('csrdelft_maalcie_mijnmaaltijden_afmelden', {maaltijd_id: maaltijd.maaltijd_id, size: 'klein'}) }}', '.maaltijdketzer-{{ maaltijd.maaltijd_id }}');"
                    class="btn p-0 lh-1 aanmeldbtn" tabindex="0" title="Aangemeld">
                    <input class="form-check-input" type="checkbox" role="button" checked />
                </a>

            {% elseif maaltijd.aantalAanmeldingen >= maaltijd.aanmeld_limiet %}
                {{ icon("ban", null, "Maaltijd is vol", "text-danger m-0") }}
            {% else %}
                <a
                    onclick="window.ketzerAjax('{{ url('csrdelft_maalcie_mijnmaaltijden_aanmelden', {maaltijd_id: maaltijd.maaltijd_id, size: 'klein'}) }}', '.maaltijdketzer-{{ maaltijd.maaltijd_id }}');"
                    class="btn p-0 lh-1 aanmeldbtn" tabindex="0" title="Niet aangemeld">
                    <input class="form-check-input" type="checkbox" role="button" />
                </a>
            {% endif %}
        {% else %}
            {% if aanmelding is defined and aanmelding is not none %}
                {% if maaltijd.eindMoment > date() %}
                    {{ icon("check", null, "Aangemeld", "text-success") }}
                    {% if aanmelding.abonnementRepetitie %}(abo){% endif %}
                {% endif %}
            {% endif %}
        {% endif %}

        {% if aanmelding is defined and aanmelding is not none and aanmelding.aantal_gasten > 0 %}
            +{{ aanmelding.aantal_gasten }}
        {% endif %}

        {% if aanmelding is defined and aanmelding is not none and aanmelding.gasten_eetwens %}
            {{ icon("comment", null, "Eetwens gasten: " ~ aanmelding.gasten_eetwens, "m-0") }}
        {% endif %}

        {% if maaltijd.gesloten and maaltijd.eindMoment > date() %}
            {% set date = maaltijd.laatst_gesloten | time_format %}
            {{ icon("lock", null, "Maaltijd is gesloten om " ~ date, "m-0") }}
        {% endif %}
    {% endif %}
</div>