<nav id="menu" class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
	<a
		class="navbar-brand me-0 me-lg-3"
		href="{{ url('default') }}"
	>
		<svg
			class="me-3 logo"
			width="35" height="44"
			viewBox="0 0 35 44"
			fill="currentColor"
			xmlns="http://www.w3.org/2000/svg"
			role="img"
			aria-label="Beeldmerk C.S.R. Delft"
		>
  			<title>Beeldmerk C.S.R. Delft</title>
			<path d="M13.9376 0L13.2474 0.481768L13.2135 13.868V14.6113L13.2 15.4716L13.1865 16.0085L13.1323 16.5935L13.0782 17.2473L12.997 17.9493L12.8955 18.6926L12.7737 19.4841L12.618 20.2962L12.4353 21.1358L12.212 22.0168L11.9549 22.8977L11.6504 23.7925L11.3256 24.7078L11.1361 25.1552L10.9331 25.6232L10.7301 26.0705L10.5203 26.4972L10.0467 27.3919L9.50532 28.2522L8.93014 29.1125L8.28729 29.9384L7.57678 30.7299L7.2046 31.1084L6.81213 31.487L6.39258 31.8449L5.97304 32.189L5.5332 32.5331L5.07306 32.8428L4.09187 33.4622L3.56406 33.7375L3.04301 33.9991L2.48814 34.2606L1.91296 34.4808L1.31748 34.7011L0.708466 34.8938L0.925003 35.5476L1.31748 35.465L1.72349 35.3411L2.14303 35.2035L2.58287 35.0314L3.02271 34.8249L3.48286 34.6185L4.39638 34.1023L4.87005 33.8132L5.34373 33.4829L5.81741 33.1387L6.27755 32.7809L6.75123 32.3817L7.2249 31.9687L7.68504 31.5214L8.14519 31.0534L8.60533 30.5578L9.04517 30.0417L9.46472 29.5048L9.87072 28.9405L10.2767 28.3348L10.6692 27.7292L11.0414 27.0754L11.3797 26.4009L11.7181 25.7126L12.0226 25.0038L12.3068 24.2467L12.5639 23.4896L12.8008 22.6981L13.0038 21.8723L13.1729 21.0257L13.3218 20.1654L13.3083 24.6528L13.3895 24.8386L13.5113 25.0313L13.6466 25.2378L13.7955 25.4305L13.9782 25.6163L14.1676 25.8228L14.3707 26.0292L14.6075 26.2357L15.115 26.6486L15.6902 27.0616L16.2992 27.4883L16.9759 27.9012L17.6864 28.328L18.451 28.7547L19.2292 29.1676L20.0412 29.5943L20.8736 30.0073L21.7397 30.4202L22.5856 30.8194L23.4517 31.1979L25.1637 31.955L26.8216 32.6432L28.3779 33.2626L29.799 33.7995L31.0305 34.2468L32.0117 34.5909L32.7222 34.8181L32.9591 34.8869L33.1079 34.9213L33.2094 34.646L33.3312 34.2675L32.3298 33.9371L31.1794 33.5242L29.8802 33.0562L28.4591 32.5056L26.9704 31.9206L25.4073 31.3149L23.8509 30.6404L22.3081 29.9522L20.8059 29.2364L20.0751 28.8785L19.3646 28.5207L18.6879 28.1628L18.045 27.8049L17.4225 27.4608L16.8338 27.1029L16.2924 26.7588L15.8052 26.4146L15.3451 26.0843L14.9594 25.7539L14.6075 25.4305L14.3165 25.1208L14.2015 24.9693L14.1 24.8317L14.012 24.694L13.9443 24.5426V0H13.9376Z"/>
			<path d="M29.0479 29.3327L28.6216 29.0918L28.1817 28.8166L27.7216 28.5068L27.2479 28.1765L26.7404 27.8324L26.2532 27.4332L25.7254 27.0202L25.1976 26.5729L24.6765 26.1049L24.1487 25.5887L23.6209 25.0519L23.0796 24.4875L22.5517 23.8888L22.0442 23.2487L21.5367 22.5742L21.0292 21.8722L20.5555 21.1289L20.0819 20.3581L19.6217 19.5528L19.1954 18.7063L18.7894 17.8116L18.4037 16.9031L18.0653 15.9396L17.8962 15.4372L17.7473 14.9416L17.5984 14.4255L17.4496 13.8886L17.3278 13.3587L17.1924 12.8219L17.0774 12.2713L16.9759 11.7069L16.8879 11.1425L16.8067 10.5575L16.7255 9.95189L16.6781 9.36L16.6105 8.74059L16.5766 8.12117L16.5428 7.48799L16.5293 6.83416V5.50586L16.3398 5.64351L16.1368 5.76739L15.9338 5.90504L15.9 25.5887L16.5631 26.0223V12.6085L16.712 13.455L16.8812 14.2809L17.0977 15.0862L17.3345 15.8983L17.6052 16.6898L17.9097 17.4606L18.248 18.2177L18.5999 18.9747L18.9924 19.718L19.3984 20.42L19.8179 21.1289L20.2781 21.8172L20.7382 22.4916L21.2119 23.1455L21.6991 23.7649L22.2066 24.3843L22.7344 24.9693L23.2623 25.5336L23.7833 26.0705L24.3246 26.5867L24.866 27.0822L25.4073 27.5502L25.9487 27.9975L26.49 28.4105L27.0314 28.8097L27.5727 29.1676L28.1005 29.4979L28.6216 29.8076L29.1291 30.0829L29.6231 30.3238L30.1103 30.5303L30.5839 30.723L31.3418 30.9983L32.1674 31.2873L33.2501 31.6177L34.7929 32.065L34.8741 31.7897L34.9756 31.48L33.7237 31.1015L32.9929 30.895L32.235 30.6542L31.4366 30.3789L30.2185 29.9109L29.8125 29.7181L29.4201 29.5461L29.0479 29.3327Z"/>
			<path d="M15.2233 38.1285L14.6819 38.0597L14.1406 37.9564L13.6128 37.8326L13.1053 37.6812L12.5978 37.4884L12.1105 37.282L11.6233 37.0617L11.1497 36.8002L12.2323 35.8711L12.5842 36.0432L12.9361 36.1946L13.3083 36.346L14.0865 36.5869L14.8646 36.7589L15.2706 36.8277L15.2233 38.1285Z"/>
			<path d="M24.663 32.4504L24.3246 32.9184L23.9863 33.3452L23.6141 33.7719L23.2217 34.171L22.8156 34.5496L22.3758 34.8937L21.936 35.224L21.4623 35.5338L20.9886 35.809L20.4811 36.0499L19.9736 36.2702L19.4525 36.4629L18.9112 36.6143L18.3699 36.7382L17.815 36.8414L17.2398 36.8965L17.206 38.1697L17.5443 38.156L17.8826 38.1215L18.5458 38.0183L19.1886 37.8807L19.8315 37.7086L20.4405 37.5021L21.0495 37.2406L21.645 36.9653L22.1999 36.6556L22.7547 36.3115L23.2758 35.9329L23.7833 35.52L24.2773 35.0864L24.7374 34.6184L25.157 34.1229L25.563 33.6067L25.9554 33.0561L24.663 32.4504Z"/>
			<path d="M22.6329 18.0457L23.0728 18.4036L23.4788 18.8027L23.8848 19.2157L24.257 19.6424L24.5953 20.1104L24.9201 20.5922L25.2246 21.0877L25.4953 21.6039L25.7321 22.1407L25.9351 22.6913L26.1246 23.2557L26.2735 23.8407L26.375 24.4394L26.4426 25.0588L26.4968 25.6783V26.5386L26.6186 26.6762L26.7878 26.8276L27.2479 27.2062L27.8569 27.6535L27.8907 27.275L27.9043 26.8964L27.9178 26.4973V26.1187L27.8637 25.3961L27.796 24.7078L27.6945 24.0196L27.5456 23.3658L27.3765 22.7257L27.1735 22.1063L26.9366 21.4869L26.666 20.9019L26.3817 20.3513L26.0434 19.8007L25.7051 19.2845L25.3126 18.7821L24.9269 18.3003L24.487 17.8323L24.0472 17.4056L23.5735 16.9927L22.6329 18.0457Z"/>
			<path d="M6.62941 24.7423L6.59557 25.1415V26.3459L6.60911 26.8415L6.64294 27.3576L6.71061 27.8532L6.79181 28.3694L6.89331 28.8511L6.99482 29.2985L7.09632 29.6977L7.21812 30.0555L7.06925 30.2276L6.87978 30.379L6.52791 30.6956L6.13543 31.0053L5.91889 30.441L5.72942 29.856L5.58055 29.2503L5.44522 28.6447L5.36401 28.0252L5.29635 27.4058L5.26251 26.7658V26.1326L5.27605 25.7059L5.28958 25.2929L5.32341 24.88L5.37755 24.467L6.56174 24.7423H6.62941Z"/>
			<path d="M16.5563 28.4244L16.5766 43.9442L15.8999 43.958L15.9676 30.5236L15.9473 30.5373L15.7443 30.8952L15.5413 31.2393L15.2368 31.6661L14.8646 32.2029L14.4045 32.7879L13.8361 33.4486L13.5316 33.8065L12.8008 34.5498L12.3947 34.9283L11.9752 35.3275L11.5151 35.7267L11.0211 36.1396L10.5 36.5526L9.94516 36.9655L9.34968 37.3784L8.74067 37.7914L8.07752 38.2181L7.3873 38.631L6.67679 39.044L5.91891 39.4707L5.12042 39.8699L4.95125 39.5808L4.81592 39.2711L5.66177 38.8237L6.47379 38.3764L7.23167 37.929L7.96248 37.4817L8.63916 37.0343L9.28201 36.5663L9.89102 36.119L10.4662 35.6923L11.0075 35.2449L11.4948 34.8182L11.9684 34.3915L12.4083 33.9785L12.8143 33.5656L13.1865 33.1664L13.5248 32.7879L13.8428 32.4093L14.1338 32.0515L14.4045 31.7073L14.8646 31.0742L15.2165 30.5098L15.4872 30.028L15.6902 29.6289L15.8255 29.3398L15.927 29.0989V28.0803L16.5563 28.4244Z"/>
		</svg>
		<span class="d-md-none d-lg-block fs-4">C.S.R. Delft</span>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarNav" class="collapse navbar-collapse">
		<ul id="cd-primary-nav" class="navbar-nav flex-wrap">
			{% if is_granted('ROLE_LOGGED_IN') %}
				{{ include('menu/main_tree.html.twig', {parent: root}) }}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="menu-favorieten" role="button" data-bs-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
						Favorieten
					</a>
					<ul class="dropdown-menu" aria-labelledby="menu-favorieten">
						{% if favorieten %}
						{{ include('menu/sub_tree.html.twig', {parent: favorieten}) }}
						{% endif %}
						<li>
							<a href="{{ url('csrdelft_menubeheer_toevoegen', {parentId: 'favoriet'}) }}"
								 class="dropdown-item post popup addfav"
								 title="Huidige pagina toevoegen aan favorieten">
								{{ icon('toevoegen') }}
								Favoriet toevoegen
							</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li><a href="/">Log in</a></li>
			{% endif %}
		</ul>
		<div class="navbar-nav navbar-search ms-auto me-3">
			{{ instant_search_form() }}
		</div>
		<ul class="navbar-nav">
			{% for item in root.children %}
				{% if item.tekst == 'Personal' %}
					{{ include('menu/personal.html.twig', {parent: item}) }}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	</div>
</nav>
