<nav id="menu" class="navbar navbar-expand-md navbar-dark">
	<div class="container-fluid">
	<a class="nav-option trigger text-white d-block d-lg-none" href="#zijbalk"><span class="sr-only">Zijbalk openen</span><i
			class="fa fa-lg fa-fw fa-bookmark"></i></a>
	<a class="navbar-brand" href="/">
		<img src="{{ absolute_url('/images/beeldmerk-wit.png') }}" alt="Beeldmerk C.S.R. Delft"/>
		<h2>C.S.R. Delft</h2>
	</a>
	<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav"
					aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div id="navbarNav" class="collapse navbar-collapse">
		<ul id="cd-primary-nav" class="navbar-nav flex-wrap">
			{% if mag('P_LOGGED_IN') %}
				{{ include('menu/main_tree.html.twig', {parent: root}) }}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="menu-favorieten" role="button" data-bs-toggle="dropdown"
						 aria-haspopup="true" aria-expanded="false">
						Favorieten
					</a>
					<ul class="dropdown-menu" aria-labelledby="menu-favorieten">
						{{ include('menu/sub_tree.html.twig', {parent: favorieten}) }}
						<li><a href="{{ url('csrdelft_menubeheer_toevoegen', {parentId: 'favoriet'}) }}"
									 class="dropdown-item post popup addfav"
									 title="Huidige pagina toevoegen aan favorieten"><i class="fa fa-plus"></i> Favoriet toevoegen</a>
						</li>
					</ul>
				</li>
			{% else %}
				<li><a href="/">Log in</a></li>
			{% endif %}
		</ul>
		<div class="navbar-nav navbar-search ms-auto me-3">
			{{ instant_search_form() }}
		</div>
		<ul class="navbar-nav">
			{% for item in root.children %}
				{% if item.tekst == 'Personal' %}
					{{ include('menu/personal.html.twig', {parent: item}) }}
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	</div>
</nav>
