{% extends 'base.html.twig' %}

{% block titel %}Statistieken{% endblock %}

{% block content %}
	Opties:<br>
	<ul class="insidebullets">
		<li><a href="?ip=192.168.1.33">/tools/stats?ip=192.168.1.33</a></li>
		<li><a href="?uid=x101">/tools/stats?uid=x101</a></li>
	</ul>
	<table class="table">
		<tr>
			<td>tijd</td>
			<td>Naam</td>
			<td>hostnaam</td>
			<td>url</td>
			<td>useragent</td>
			<td>referer</td>
		</tr>
		{% for logRegel in log %}
			<tr>
				<td>
					{{ logRegel.moment.format("D H:i") }}
				</td>
				<td>
					<a href="?uid={{ logRegel.uid }}">+</a>
					{% if get_profiel(logRegel.uid) is not none %}
						{{ get_profiel(logRegel.uid).link('volledig') }}
					{% endif %}
				</td>
				<td>
					<a href="?ip={{ logRegel.ip }}">+</a> {{ gethostbyaddr(logRegel.ip) }}
					<span class="dikgedrukt">{{ logRegel.locatie }}</span>
				</td>
				<td
					{% if logRegel.url matches '/toevoegen/' %}
						style="background-color: yellow"
					{% elseif logRegel.url matches '/zoeken/' %}
						style="background-color: #3F9"
					{% endif %}
				>
					<a href="{{ absolute_url(logRegel.url) }}" target="_blank">{{ logRegel.url }}</a>
				</td>
				<td>{{ logRegel.useragent }}</td>
				<td>
					{% if logRegel.referer %}
						<a href="{{ logRegel.referer }}" target="_blank">{{ logRegel.formattedReferer }}</a>
					{% else %}
						-
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
{% endblock %}
