{% extends 'base.html.twig' %}

{% block breadcrumbs %}
	{{ csr_breadcrumbs({
		(url('default')): 'main',
		(url('csrdelft_ledenlijst_lijst')): 'Ledenlijst',
		(url('csrdelft_commissievoorkeuren_overzicht')): 'Commissievoorkeuren',
	}) }}
{% endblock %}

{% block content %}
<h2>Commissievoorkeuren</h2>
<div class="col-md-6">
	<p>Klik op een commissie om de voorkeuren te bekijken</p>
	{% for cid, cat in categorien %}
		<h2>{{ cat.categorie.naam }}</h2>
		<ul>
			{% for commissie in cat.commissies %}
				<li{% if commissie.zichtbaar %} style="opacity: .50"{% endif %}>
					<a href="{{ url('csrdelft_commissievoorkeuren_commissie', {id: commissie.id}) }}">{{ commissie.naam }}</a>
				</li>
			{% endfor %}
			{% if cat.commissies is empty %}
				Deze categorie bevat geen commissies.
				<a href="{{ url('csrdelft_commissievoorkeuren_verwijdercategorie', {id: cid}) }}" class="btn post ReloadPage">
					Categorie verwijderen
				</a>
			{% endif %}
		</ul>
	{% endfor %}
</div>
<div class="col-md-6">
	{{ categorieFormulier | raw }}
	{{ commissieFormulier | raw }}
</div>
{% endblock %}
