{% extends 'base.html.twig' %}

{% block content %}
	<h1>Commissievoorkeuren</h1>

	<p>Maak de Praeses blij en vul uw commissievoorkeuren in! Per commissie kunt u aangeven of u interesse heeft in het doen van deze commissie. Uw keuze wordt automatisch opgeslagen.</p>

	{% set title = "" %}
	{% for voorkeur in voorkeuren %}
		{% if voorkeur.categorieNaam != title %}
		{% set title = voorkeur.categorieNaam %}
		<h2>{{ title }}</h2>
		{% endif %}
		<div class="mb-3">
			<label class="col-md-3 col-form-label">{{ voorkeur.commissie.naam }}</label>

			<div class="btn-group flex-column flex-sm-row align-items-start" role="group" aria-label="Radio toggle group voor de {{ voorkeur.commissie.naam }}">
				<input type="radio" class="btn-check change-opslaan"
					name="{{ voorkeur.commissie.naam }}" id="inst_{{ voorkeur.commissie.naam }}_1" autocomplete="off"
					data-href="{{ url('csrdelft_commissievoorkeuren_lidupdate', {cid: voorkeur.cid, uid: uid, waarde: 1}) }}"
					value="1" {% if voorkeur.voorkeur == 1 %}checked{% endif %}>
				<label class="btn btn-outline-primary" for="inst_{{ voorkeur.commissie.naam }}_1">Nee</label>

				<input type="radio" class="btn-check change-opslaan"
					name="{{ voorkeur.commissie.naam }}" id="inst_{{ voorkeur.commissie.naam }}_2" autocomplete="off"
					data-href="{{ url('csrdelft_commissievoorkeuren_lidupdate', {cid: voorkeur.cid, uid: uid, waarde: 2}) }}"
					value="2" {% if voorkeur.voorkeur == 2 %}checked{% endif %}>
				<label class="btn btn-outline-primary" for="inst_{{ voorkeur.commissie.naam }}_2">Ja</label>

				<input type="radio" class="btn-check change-opslaan"
					name="{{ voorkeur.commissie.naam }}" id="inst_{{ voorkeur.commissie.naam }}_3" autocomplete="off"
					data-href="{{ url('csrdelft_commissievoorkeuren_lidupdate', {cid: voorkeur.cid, uid: uid, waarde: 3}) }}"
					value="3" {% if voorkeur.voorkeur == 3 %}checked{% endif %}>
				<label class="btn btn-outline-primary" for="inst_{{ voorkeur.commissie.naam }}_3">Misschien</label>
			</div>
		</div>
	{% endfor %}

	{{ form_start(form) }}
	{{ form_row(form.lidOpmerking) }}
	{{ form_row(form.opslaan) }}
	{{ form_end(form) }}
{% endblock %}

{% block breadcrumbs %}

{% endblock %}

