{% extends 'base.html.twig' %}

{% block breadcrumbs %}
	{{ csr_breadcrumbs({
		(url('default')): 'main',
		(url('csrdelft_ledenlijst_lijst')): 'Ledenlijst',
		(url('csrdelft_commissievoorkeuren_overzicht')): 'Commissievoorkeuren',
		'': profiel.link
	}) }}
{% endblock %}

{% block content %}
	<h1>Voorkeuren van lid</h1>
	<p>Naam: {{ profiel.link('volledig') | raw }}</p>

	<table class="commissievoorkeuren">
		{% for commissie in commissies %}
			{% set voorkeur = voorkeuren[commissie.id] %}
			<tr>
				<td>{{ commissie.naam }}</td>
				<td>
					{% if voorkeur is none %}
						nee
					{% else %}
						{{ voorkeur.voorkeurTekst }}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
	</table>
	<h3>Opmerkingen van lid</h3>
	<p>{{ lidOpmerking }}</p>
	<h3>Opmerkingen van praeses</h3>
	{{ opmerkingForm | raw }}
{% endblock %}
