<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
				content="Website voor het 62e lustrum der Civitas Studiosorum Reformatorum.">
	<meta name="author" content="David van der Laan">

	<title>Lumière</title>

	{{ csrfMetaTag() }}

	{{ js_asset('app') }}
	{{ css_asset('common') }}
	{{ css_asset('thema-normaal')}}
	{{ css_asset('dies2024') }}

	{% include 'common/sentry.html.twig' %}

	{# <link rel="icon" href="/lustrum12/favicon.ico"> #}
</head>

<body>
{# {{ cms('dies2024') }} #}
<nav class="site-header py-1">
	<div class="container d-flex flex-column flex-md-row justify-content-between">
		<a class="py-2 px-2 d-none d-md-inline-block" href="./">Lumière</a>
		<a class="py-2 px-2 d-none d-md-inline-block" href="#poster">Poster</a>
		<a class="py-2 px-2 d-none d-md-inline-block" href="#filmpje">Première</a>
		<a class="py-2 px-2 d-none d-md-inline-block" href="#programma">Programma</a>
		<a class="py-2 px-2 d-none d-md-inline-block" href="#etiquette">Etiquette</a>
	</div>
</nav>

<section class="poster-boven size-16x9">
	<a id="poster" class="anchor"></a>
	<div class="poster">
		{# MAGNUM_OPUS_themaposter_liggend_stek-01.jpg #}
		<img src="/images/dies2024/Themaposter.png" alt="Logo menu" />
	</div>
	<br/>
</section>

<section class="filmpje">
	<a id="filmpje" class="anchor"></a>
	<div class="container">
		<div class="d-md-block">
			<h1 class="titel">Lumière</h1>
		</div>
	</div>
	<div class="container video-container size-16x9">
		{# <img src="/images/dies2023/AccurateGloomyBlueshark-size_restricted.gif" alt="curtain gif not found"/> #}
		<div class="youtube-container closed">
			<div class="embed-responsive ratio ratio-16x9" id="player">
				<iframe src="https://www.youtube.com/embed/dZb3Arn4I94" title="themafilmpje"  allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
					{# frameborder="0" #}
				</iframe>
			</div>
		</div>
	</div>
</section>

<section class="programma d-flex">
	<a id="programma" class="anchor"></a>
	<div class="container flex-column programma-container">
		<div class="titel">
			<h1>Programma</h1>
		</div>

		<div class="poster">
			<img src="/images/dies2024/Programma.png" alt="Logo menu" />
			<a class="d-none posterLink" href"#14feb"></a>
		</div>
		<div id="anchor-14-feb"></div>

		<div class="divider">
		</div>

		<a class="anchor" id="14-feb"></a>
		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Dinsdag 13 februari</h2>
			<div class="activiteit row">
				<h3 class="col-md-11">18:00 Return of the Dies</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseProefstuk" aria-expanded="false" aria-controls="collapseProefstuk">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseProefstuk">
					<div class="d-flex row">
						<p class="col-md-12">Begin de Dies-weken goed met een uitgebreid driegangen diner verzorgd door Am. Bakker. Proef alvast aan het thema en krijg de smaak te pakken!
							Aansluitend kunt u ook meteen de OpeningsLeO meemaken voor een geheel verzorgde hoogstaande avond.
							<br>
							Kosten: 5,-, of 7,50 met wijn.
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{# 2418 #}
									{{ '[maaltijd=2418]' | bbcode }}
								</div>
							</div>
						</div>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2419]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="activiteit row">
				<h3 class="col-md-11">21:00 The Sound of Music</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGoddelijkeInspiratie" aria-expanded="false" aria-controls="collapseGoddelijkeInspiratie">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseGoddelijkeInspiratie">
					<div class="d-flex row">
						<p class="col-md-12">Wat is er nou mooier dan na een wonderlijke start van de Dies tot onze eigen Meester te komen. Onder leiding van de LeO-Band gaan we God
							aanbidden en de LeOCie zal ons stof tot nadenken geven, zodat wij allen geïnspireerd de Dies-weken in zullen gaan.</p>
					</div>
				</div>
			</div>
			<div class="activiteit row">
				<h3 class="col-md-11">23:00 From Dusk Till Dawn</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij" aria-expanded="false" aria-controls="collapseIdeeBrouwerij">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij">
					<div class="d-flex row">
						<p class="col-md-12">Na de OpeningsLeO bent u van harte welkom om op Confide te blijven om gezellig te borrelen. Ook zullen dan de eerste debatten van
							het debatteertoernooi plaatsvinden onder leiding van am. Debatmeester. Een mooie gelegenheid om het academische debat aan te zwengelen!</p>
					</div>
					<div class="dies-activiteit-ketzers col-md-12">
						{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
						<div class="ketzers">
							<div class="ketzer">
								{{ '[activiteit=12132]' | bbcode }}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="activiteit row">
				<h3 class="col-md-11">23:00 12 Angry Men</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseGoddelijkeInspiratie" aria-expanded="false" aria-controls="collapseGoddelijkeInspiratie">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseGoddelijkeInspiratie">
					<div class="d-flex row">
						<p class="col-md-12">Wat is er nou mooier dan na een wonderlijke start van de Dies tot onze eigen Meester te komen. Onder leiding van de LeO-Band gaan we God
							aanbidden en de LeOCie zal ons stof tot nadenken geven, zodat wij allen geïnspireerd de Dies-weken in zullen gaan.</p>
					</div>
				</div>
			</div>

		</div>
		<div class="divider">
		</div>
		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Woensdag 14 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">16:00 Craft me a Romance</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWerkplaats" aria-expanded="false" aria-controls="collapseWerkplaats">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseWerkplaats">
					<div class="d-flex row">
						<p class="col-md-12">Elk jaar wordt er weer aardig wat gevraagd van uw creativiteit. Bent u net klaar met het schrijven van talloze kantjes aan briefmateriaal, moet u vervolgens aan de bak met de corsage. Gelukkig staan de dames van DéDé klaar om u hier een handje mee te helpen.
							Kom klussen in de werkplaats van Confide, creëer een meesterwerk en verwen uw date met een prachtige corsage!</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{# 12093 #}
									{{ '[activiteit=12093]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">18:00 Suits</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWereldtentoonstelling" aria-expanded="false" aria-controls="collapseWereldtentoonstelling">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseWereldtentoonstelling">
					<div class="d-flex row">
						<p class="col-md-12">Kom genieten van de (culinaire) innovaties uit diverse landen op
							de wereldtentoonstelling. Loop rond over het festival in de sfeervolle achterzaal en
							ervaar de diversiteit en kunde van verschillende leden. Geniet samen en laat u inspireren!
							<br>Kosten: circa 5,-</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12102]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">18:00 Cinema Paradiso</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePassenMeten" aria-expanded="false" aria-controls="collapsePassenMeten">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapsePassenMeten">
					<div class="d-flex row">
						<p class="col-md-12">Een gala zonder rokkostuum? Nee, dat bestaat niet! Of nog erger: een rokkostuum dat niet meer goed past...
							Herkent u deze problemen? Kom dan naar Confide om samen met Gents een nieuw kostuum uit te zoeken en
							deze met een vriendenprijsje mee naar huis te krijgen. Zo steun je ook nog eens de Civitas die per verkocht kostuum een vast bedrag van Gents krijgt!</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12095]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 From Dusk Till Dawn</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij2" aria-expanded="false" aria-controls="collapseIdeeBrouwerij2">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij2">
					<div class="d-flex row">
						<p class="col-md-12">Ook deze avond verwelkomen wij u graag op de borrel! Tevens zullen er verschillende sublieme debatten plaatsvinden onder leiding van am. Debatmeester.</p>
					</div>
				</div>
			</div>
			<div class="activiteit row">
				<h3 class="col-md-11">23:00 12 Angry Men</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij2" aria-expanded="false" aria-controls="collapseIdeeBrouwerij2">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij2">
					<div class="d-flex row">
						<p class="col-md-12">Ook deze avond verwelkomen wij u graag op de borrel! Tevens zullen er verschillende sublieme debatten plaatsvinden onder leiding van am. Debatmeester.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Donderdag 15 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">14:00 Once Upon a time...</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMeesters" aria-expanded="false" aria-controls="collapseMeesters">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseMeesters">
					<div class="d-flex row">
						<p class="col-md-12">Traditiegetrouw is er weer een YER-training. Een interessante lezing die u kunt gebruiken om verder te bouwen aan uw carrière. Daarnaast krijgt de Civitas tien euro voor elk lid dat meedoet, dus kom, doe wijsheid op en verdien geld voor de Civitas. Wij zullen dit jaar gevormd worden tot meesters in het onderwerp 'salarisonderhandelingen'.</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12096]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">18:30 The Circle</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKringeving" aria-expanded="false" aria-controls="collapseKringeving">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseKringeving">
					<p class="col-md-12">Geestelijke vorming en kringtegratie; wat wilt u nog meer? Eet gezellig samen en verdiep u aansluitend in de Meester der Meesters. Dit is ook de mogelijkheid om uit te delen, er wordt namelijk eten ingezameld voor de voedselbank. Aansluitend kunt u dit meenemen naar Confide, waar ook het feest zal plaatsvinden.</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 The Great Gatsby</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBlauwdrukje" aria-expanded="false" aria-controls="collapseBlauwdrukje">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseBlauwdrukje">
					<div class="d-flex row">
						<p class="col-md-12">Het is alweer de derde dag van de Dies en misschien heeft u al een mooie dame of heer op het oog. Dit is je kans om hier werk van te maken! Tijdens dit fantastische feest hopen we dat niemand een blauwdrukje loopt. Het feest begint om 22.00 en doe je meest blauwe outfit aan.</p>
					</div>
				</div>
			</div>

		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Vrijdag 16 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">10:00 Knives Out</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseKrachtmeting" aria-expanded="false" aria-controls="collapseKrachtmeting">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseKrachtmeting">
					<p class="col-md-12">Daar is het dan: de verticalestrijd! Het moment om te laten zien dat uw verticale de beste is. Tussen 10:00 en 16:00 heeft u de tijd om met uw verticale zoveel mogelijk punten te verzamelen door vragen te beantwoorden en opdrachten te voltooien. Werk samen met uw verticale vrienden op het hoofdkwartier van uw verticale of doe online uw bijdrage en zet u in voor de eer, de roem en voor een heerlijke prijs. Veel succes bij deze krachtmeting, moge de beste verticale winnen!</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">20:00 Dirty Dancing</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOvermeestering" aria-expanded="false" aria-controls="collapseOvermeestering">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseOvermeestering">
					<p class="col-md-12">
						De strijd is gestreden, de verticalen hebben hun krachten kunnen laten zien. Kom ontspannen borrelen op Confide en wacht hier de uitslag van de verticalestrijd in spanning af. Tevens kunt u blijven hangen op Confide voor het eten met Karim als kwalikok, oftewel BYOPeperstraat.
					</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 From Dusk Till Dawn</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij3" aria-expanded="false" aria-controls="collapseIdeeBrouwerij3">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij3">
					<p class="col-md-12">
						Ook deze avond is het tijd om te gaan debatteren. De debatten zullen ditmaal plaatsvinden om 20:00, waarna er wederom heerlijk geborreld kan worden.
					</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 12 Angry Men</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij2" aria-expanded="false" aria-controls="collapseIdeeBrouwerij2">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij2">
					<div class="d-flex row">
						<p class="col-md-12">Ook deze avond verwelkomen wij u graag op de borrel! Tevens zullen er verschillende sublieme debatten plaatsvinden onder leiding van am. Debatmeester.</p>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Zaterdag 17 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">14:00 The Good, The Bad and The Ugly</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOefeningKunst" aria-expanded="false" aria-controls="collapseOefeningKunst">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseOefeningKunst">
					<div class="d-flex row">
						<p class="col-md-12">
							Na al die mooie verhalen die u thuis hebt verteld over C.S.R., is het tijd om uw ouders fysiek kennis te laten maken met het meesterwerk dat de Civitas wordt genoemd. Op deze ouderdag zullen wij uw ouders kennis laten maken met Confide, de stad Delft en verschillende prachtige facetten van onze mooie vereniging. De inloop is vanaf 14:00 en wij starten met het programma om 14:30. Dit programma loopt tot ongeveer 17:30, waarna er een borrel is. Ook is er de mogelijkheid om die avond met uw ouders aan de maaltijd deel te nemen. Ketz u daar dan nog wel even apart voor in, in de maaltijdketzer. Geef in beide ketzers aan met hoeveel gasten u dan bent. Schroom vooral niet om ons te appen bij bijzondere situaties. Tot dan!
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12097]' | bbcode }}
								</div>
							</div>
						</div>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2420]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">20:00 Sleeping Beauty</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWitteDoek" aria-expanded="false" aria-controls="collapseWitteDoek">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseWitteDoek">
					<div class="d-flex row">
						<p class="col-md-12">
							Confide gaat voor één avondje weer even terug in de tijd om als bioscoop te functioneren. De projector wordt weer aangeslingerd en een sensationele film wordt vertoond. Geniet van dit moment met een heerlijke bak popcorn en de leden aan uw zij!
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12098]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Zondag 18 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">10:00 The Theory of Everything</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeerMeester" aria-expanded="false" aria-controls="collapseHeerMeester">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseHeerMeester">
					<div class="d-flex row">
						<p class="col-md-12">
							Op de zevende dag nam God rust na het creëren van zijn meesterwerk: de schepping. Zo willen wij ook op deze rustdag tot God komen. Dit gaan we doen in de Evangelisch Lutherse Gemeente in Delft. Komt allen!
						</p>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">13:00 Jumanji</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpelletjesmiddag" aria-expanded="false" aria-controls="collapseSpelletjesmiddag">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseSpelletjesmiddag">
					<div class="d-flex row">
						<p class="col-md-12">
							Precies halverwege de Dies is het belangrijk om even goed te ontspannen, en hoe kan dat nou beter dan onder het genot van schappelijke spelletjes met leden. Wees deze middag van harte welkom om met leden en misschien zelfs met leden in spe spelletjes te komen spelen op Confide. Neem vooral ook uw eigen spellen mee, dan zorgen wij voor de snacks!
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12103]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Maandag 19 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">18:30 The Hunger Games</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFritUurwerk" aria-expanded="false" aria-controls="collapseFritUurwerk">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseFritUurwerk">
					<div class="d-flex row">
						<p class="col-md-12">
							Na een week vol enerverende activiteiten zal u ongetwijfeld een beetje zijn afgevallen. Om dit tegen te gaan en de tweede Diesweek goed te beginnen kunt u een vette hap komen nuttigen op Confide.
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2421]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">20:00 Insommnia</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpeijker" aria-expanded="false" aria-controls="collapseSpeijker">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseSpeijker">
					<div class="d-flex row">
						<p class="col-md-12">
							De eerste dag van de week wilt u natuurlijk goed afsluiten met een heerlijk diner verzorgt door huize Van Speijk. Bijkomend voordeel: vervolgens kunt u gelijk door naar de H.V!
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2423]' | bbcode }}
								</div>
							</div>
						</div>
						<div class="dies-activiteit-ketzers col-md-12">
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2424]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Dinsdag 20 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">12:30 The Hangover</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEurekaas" aria-expanded="false" aria-controls="collapseEurekaas">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseEurekaas">
					<div class="d-flex row">
						<p class="col-md-12">
							Bereid uw buikspieren maar voor, want het is weer tijd voor de jaarlijkse cabaretavond. Onder leiding van CaCie Nel zal deze avond in het teken staan van een vleugje humor, maar vooral veel kaas.
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12126]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">20:00 The Great Showman</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseIdeeBrouwerij4" aria-expanded="false" aria-controls="collapseIdeeBrouwerij4">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseIdeeBrouwerij4">
					<div class="d-flex row">
						<p class="col-md-12">
							Blijf na Op de Planken gezellig op Confide borrelen! Er zijn leden, de tap is open en er zullen weer debatten zijn onder leiding van am. Debatmeester: wees erbij!
						</p>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 From Dusk Till Dawn</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeerMeester" aria-expanded="false" aria-controls="collapseHeerMeester">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseHeerMeester">
					<div class="d-flex row">
						<p class="col-md-12">
							Op de zevende dag nam God rust na het creëren van zijn meesterwerk: de schepping. Zo willen wij ook op deze rustdag tot God komen. Dit gaan we doen in de Evangelisch Lutherse Gemeente in Delft. Komt allen!
						</p>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">12 Angry Men</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeerMeester" aria-expanded="false" aria-controls="collapseHeerMeester">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseHeerMeester">
					<div class="d-flex row">
						<p class="col-md-12">
							Op de zevende dag nam God rust na het creëren van zijn meesterwerk: de schepping. Zo willen wij ook op deze rustdag tot God komen. Dit gaan we doen in de Evangelisch Lutherse Gemeente in Delft. Komt allen!
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Woensdag 21 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">14:00 Pirates of the Caribbean</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapsePlagiaat" aria-expanded="false" aria-controls="collapsePlagiaat">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapsePlagiaat">
					<p class="col-md-12">
						Hoge bomen vangen veel wind. Daar waar de nieuwste innovaties worden bedacht is er altijd het gevaar van plagiaat en kopieën. Deze middag hebben externe genodigden de mogelijkheid ons bestuur te feliciteren met de verjaardag van de vereniging. Maar er is ook risico op spionage! Helpt u onze (intellectuele) eigendommen te verdedigen?
					</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">The Shawshank Redemption</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOrigineel" aria-expanded="false" aria-controls="collapseOrigineel">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseOrigineel">
					<p class="col-md-12">
						De plagiaatplegers en spionnen zijn afgeslagen, dus dit vieren wij. De Civitas heeft deze avond de gelegenheid het bestuur te feliciteren met de verjaardag van de vereniging.
					</p>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Donderdag 22 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">18:30 Ratatouille</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOeuvre" aria-expanded="false" aria-controls="collapseOeuvre">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseOeuvre">
					<div class="d-flex row">
						<p class="col-md-12">
							Bij elke maaltijd staat er weer een meesterchef voor jullie klaar en zo ook bij deze. Kom genieten van de heerlijke creaties van een van onze kwalikoks en leg vast een goede bodem voor het gala.
						</p>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[maaltijd=2422]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">20:00 A star is born</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseLichtZien" aria-expanded="false" aria-controls="collapseLichtZien">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseLichtZien">
					<p class="col-md-12">
						Academische vorming en debat is belangrijk om innovatief en creatief te blijven. Scherp uw brein met een lezing verzorgd door onze geliefde Abactis. Hiermee kunt u de dag erna uw tafelgenoten verbazen met spitsvondige weetjes en nieuwe inzichten. De mogelijkheid om indruk te maken op uw date!
					</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">22:00 From Dusk Till Dawn</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseBrouwerij" aria-expanded="false" aria-controls="collapseBrouwerij">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseBrouwerij">
					<p class="col-md-12">
						Blijf gezellig op Confide borrelen, om na te praten over de lezing of om met elkaar de etiquette nog maar eens goed door te nemen. Waar je het ook over gaat hebben, je bent van harte welkom op de borrel!
					</p>
				</div>
			</div>

			<div class="activiteit row">
				<h3 class="col-md-11">23:00 12 Angry Men</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseHeerMeester" aria-expanded="false" aria-controls="collapseHeerMeester">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseHeerMeester">
					<div class="d-flex row">
						<p class="col-md-12">
							Op de zevende dag nam God rust na het creëren van zijn meesterwerk: de schepping. Zo willen wij ook op deze rustdag tot God komen. Dit gaan we doen in de Evangelisch Lutherse Gemeente in Delft. Komt allen!
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

		<div class="d-flex dag flex-column">
			<h2 class="ondertitel col-md-12">Vrijdag 23 februari</h2>

			<div class="activiteit row">
				<h3 class="col-md-11">16:00 Ga La Land</h3>
				<button class="btn btn-primary col-md-1 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseMagnumOpus" aria-expanded="false" aria-controls="collapseMagnumOpus">
					{{ icon('caret-down') }}
				</button>

				<div class="collapse" id="collapseMagnumOpus">
					<div class="d-flex row">
						<p class="col-md-12">
							Twee schitterende weken vol activiteiten, in het teken van de Dies. Maar één ding ontbrak al die tijd nog: het meesterwerk. Het Magnum Opus! Een grandioze avond waarin u samen met uw date mag genieten van een heerlijk driegangendiner, een zenuwslopende debatteerfinale en samen met de leden op de beste nummertjes mag dansen. Dit meesterwerk wilt u niet missen!
						</p>
						{# Galaketzer #}
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12094]' | bbcode }}
								</div>
							</div>
						</div>
						<div class="dies-activiteit-ketzers col-md-12">
							{# <a class="toggler btn btn-primary">Laat ketzers zien</a> #}
							{# Reserveketzer #}
							<div class="ketzers">
								<div class="ketzer">
									{{ '[activiteit=12099]' | bbcode }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="divider"></div>

	</div>
</section>

<section class="etiquette">
	<a id="etiquette" class="anchor"></a>
	<div class="container d-flex flex-column">
		<div class="titel d-md-block">
			<h1 class="yolo">Etiquette</h1>
		</div>
		<div class="d-flex flex-column">
			<div class="col-md-12">
				<h4 class="margin-bottom">
					De dies is het hoogtepunt van het verenigingsleven.
					U wilt zich tijdens deze feestelijke weken van uw meest galante kant laten zien.
					Daarom zijn hier voor u de etiquette uiteengezet.
					Tijdens de Dies Natalis is het passend om goed gekleed naar Confide te komen.
					Jas en das wordt gewaardeerd, uiteraard zonder dissonanten zoals gymschoenen of witte sokken.
					Het is verder de gewoonte om tijdens de Dies uw penning te dragen op Confide.
					Eerstejaars zullen deze ontvangen op de Dies H.V. als ze geïnstalleerd worden.
					Op het gala hoeft u uw penning niet te dragen.
				</h4>
			</div>
			<div class="d-flex row">
				<div class="col-md-4">
					<h2 class="subkopje-etiquette">Gala</h2>
					<h3>Uitnodigingen</h3>
					<p>
						De heer vraagt de dame in een brief, handgeschreven met zilveren pen op blauw papier, of zij hem wil vergezellen naar het gala. De dame antwoordt hierop met een brief, handgeschreven met gouden pen op roze papier, waarin zij de heer uitnodigt om bij haar thuis een kopje thee te komen drinken. Tijdens deze visite wordt er niet over het gala gesproken. Als de dame het verzoek afwijst, serveert zij niets bij de thee. Gaat ze mee naar het gala, dan serveert ze koekjes, en is ze geïnteresseerd in meer dan alleen het gala, dan serveert ze zelfgebakken taart. Slagroom op de taart is de klap op de vuurpijl.
						Als de dame besluit mee te gaan, moet ze tijdens de visite op de een of andere tersluikse manier de kleur van haar jurk duidelijk maken, zodat de heer de kleur van de corsages hierop aan kan passen. Bijvoorbeeld door een tipje van de jurk uit de kast te laten hangen, of bloemen van een bepaalde kleur te verzorgen.
						Zal het gala plaatsvinden in een schrikkeljaar, wat dit jaar niet het geval is, dan zijn de rollen omgedraaid en heeft de dame de edele plicht de heer te vragen. In dit geval schrijft de dame nog steeds een roze brief met gouden letters, en de heer een blauwe brief met zilveren letters, maar nu nodigt de heer de dame uit op de thee. De vrouw maakt nu ook de corsages.
						In het geval dat u zich niet identificeert in de bovenstaande rollen of u zich niet comfortabel voelt bij het sturen van een blauwe dan wel een roze brief, kunt u ook een groene brief sturen. Hierbij stuurt de uitnodigende partij een brief die handgeschreven is met een bronzen pen op groen papier. De ontvanger van deze brief heeft bij de brief om de uitnodigende partij uit te nodigen op een kopje thee, de keuze om te reageren met een groene, blauwe of roze brief, met respectievelijk een bronzen, zilveren of gouden pen.
						De uitnodigende partij verzorgt een tweetal corsages die tijdens het gala gedragen kan worden. Traditioneel is de corsage een klein bloemstukje, maar de corsage kan ook een ludieke vorm aannemen. De heer draagt de traditionele corsage op de linker revers met de bloem omhoog. De dame draagt de corsage links onder het sleutelbeen met de bloem naar beneden.
					</p>
				</div>

				<div class="col-md-4">
					<h2 class="subkopje-etiquette">Aankomst</h2>
					<h3>Kleding</h3>
					<p>
						En dan is het zover: het is de grote dag van het gala. De heer haalt zijn dame thuis op. Als hem open wordt gedaan, wordt de heer bijna verblind door de schoonheid van de dame, waar hij haar dan ook terecht mee complimenteert. Ze draagt een lange, gedecolleteerde avondjapon, die zo goed als mouwloos is. De prachtige, lange handschoenen tot over haar ellebogen en haar opgestoken haar maken het plaatje helemaal af. Maar ook de heer mag er zijn. Hij is gekleed in rokkostuum en heeft glimmende lakschoenen aan. Hij had ook nog een smoking in de kast hangen, maar dat vond hij, terecht, inferieur aan een rokkostuum.
						Tijdens het gala is het niet gepast om een horloge te dragen, immers: gezelligheid kent geen tijd. Enige uitzondering zijn zakhorloges voor de heren en sierlijke horloges die als ornament gedragen worden voor de dames. De heer heeft op het gala twee zakdoeken bij zich: één om eventueel zichzelf het zweet van het voorhoofd te deppen en één voor zijn date, die immers zelf geen zakken heeft. Verder heeft de heer weinig bij zich buiten huissleutels, corsages en geld voor de taxi. Een mobiele telefoon is toegestaan, mits deze op de "stille" stand staat. Voor een dame is, indien nodig, een klein handtasje toegestaan.
					</p>
					<h3>Aankomst</h3>
					<p>
						Na een kopje thee wandelen ze samen naar Confide. De heer loopt links van de dame om zo de nodige bescherming te bieden en hij zorgt er voor dat hij niet te hard loopt. Bij aankomst op Confide houdt de heer de deur open voor de dame en laat haar voorgaan. Aldaar tovert de heer twee corsages uit de binnenzak van zijn jasje. Een daarvan speldt hij bij zijn dame op, en een bij zichzelf. Na het begroeten van vrienden en het kennismaken met onbekenden, is het tijd geworden om zich te verplaatsen naar de vervoermodaliteit, die de galagangers naar de - nog steeds onbekende - locatie zullen brengen.
					</p>
				</div>

				<div class="col-md-4">
					<h2>Op locatie</h2>
					<h3>Binnenkomst</h3>
					<p>
						Na een korte rit komen ze op de plaats van bestemming. Het overtreft alle verwachtingen. Opnieuw houdt de heer de deur open voor de dame en laat haar voorgaan. Indien er een trap aanwezig is in het restaurant, betreedt de heer deze als eerste, hij mag immers niet de gelegenheid krijgen om de bekoorlijke enkels van de dame te bekijken. Bij een trap afdalen gaat de heer voor om bij het struikelen van de dame haar op te kunnen vangen. De heer helpt zijn dame uit haar jas en geeft deze af bij de garderobe, daarna gaat hij haar voor naar de eetzaal. Ze gaan zitten op de plaats die aan hen is toegewezen, de heer neemt plaats aan de linkerzijde van de dame. De heer neemt pas plaats aan tafel als hij de stoel voor de dame heeft aangeschoven.
					</p>

					<h3>Tijdens het diner</h3>
					<p>
						Als iedereen zit, wordt de maaltijd geopend door de DiesCie praeses. Nadat de maaltijd geopend is, wordt het eten binnengebracht. Als zowel de dame als de heer en hun beide buren voorzien zijn, beginnen ze met eten. Uiteraard hebben ze hierbij de ellebogen niet op tafel. Ze beginnen met het bestek aan de buitenkant. Gedurende de maaltijd werken ze naar binnen. Voordat de heer een slokje van zijn wijn neemt, veegt hij eerst zijn mond af om vetafdrukken op zijn glas te voorkomen. Tijdens het eten wordt er heel wat afgepraat. Om de smaak van het eten niet te bederven, blijven de sigaren nog in de doos.
						<br>
						In het geval dat een van de partners zich wil verwijderen, wordt toestemming gevraagd aan de partner. Als de dame dit vraagt, staat ze gelijk op, net als de heer en die kan pas gaan zitten als zij zich heeft verwijderd. Bij terugkeer van de dame schuift de heer haar stoel aan. Het is niet correct om de partner lang alleen te laten.
					</p>
				</div>
			</div>
			<h2 class="subkopje-etiquette">Dansen</h2>

			<h3>Dansen</h3>
			<p>
				Na het eten en het debatteren, gaat de band spelen. Het is tijd om te gaan dansen. Een heer vraagt een dame ten dans door een lichte buiging te maken en te vragen: "Mag ik deze dans van u?". De dame antwoordt bevestigend door een knik. De heer biedt de dame zijn rechterarm en begeleidt haar richting dansvloer. Kan de heer de dame zijn arm niet aanbieden door de drukte, dan loopt de dame voorop. Tijdens de dans bent u uitsluitend gericht op uw partner van dat moment en voert u geen gesprek met een ander paar. Na afloop van de dans begeleidt de heer de dame weer terug naar haar plaats.
				<br>
				Uiteraard vraagt de heer als eerste zijn eigen dame ten dans, voordat hij een ander vraagt. In principe wordt een dansverzoek niet zonder goede reden door de dame geweigerd. Als een dame heeft geweigerd, is het niet correct om direct een dame die in de buurt van de eerste dame stond ter dans te vragen, zij kan hierdoor het gevoel krijgen dat ze tweede keus is. Als een dame geweigerd heeft, is het ook niet de bedoeling dat zij meteen met een ander gaat dansen. Nadat u een dame terug heeft gebracht naar haar plaats, vraagt u niet direct een andere dame om een dans.
			</p>

			<h3>Palen</h3>
			<p>
				De dame wordt door een andere heer ten dans gevraagd en de heer heeft nu niet meer zo'n behoefte aan dansen. Hij steekt een sigaar op met een cederhoutje. Hij rookt de sigaar rustig en gelijkmatig op. Als de sigaar op is, drukt hij deze niet uit, maar legt hij de sigaar in de asbak om uit te doven.
			</p>

			<h3>Terug naar huis</h3>
			<p>
				De heer en de dame dansen nog veel, hebben goede gesprekken en maken een aantal nieuwe vrienden. Alles dat een begin heeft, heeft ook een eind. Bij de garderobe haalt de heer de jas van de dame en helpt haar bij het aantrekken. Bij het weggaan gaat de dame de heer voor, maar bij de deur wacht zij tot de heer hem voor haar opent. De heer brengt de dame netjes naar huis. Wanneer de dame dit verlangt kan zij de heer uitnodigen voor een slaapmutsje, wanneer de dame dit niet doet dient de heer de keuze van de dame te respecteren.
				<br>
				Het is voor het vertrekken voor de heer geoorloofd de rits van de jurk van de dame maximaal twintig centimeter open te ritsen. Dit zodat de dame niet achterblijft in een jurk waar zij niet uit kan. Tot slot neemt de heer met een tedere kus afscheid en gaat zijnsweegs, mijmerend over de bijzondere avond die voorbij is.
			</p>
		</div>
	</div>
</section>
{# <section class="sponsor">
	<img src="/images/dies2023/galjemaSponsor.png" alt="Galjema sponsor"/>
</section> #}
</body>
