{% set ongelezenWeergave = lid_instelling('forum', 'ongelezenWeergave') %}
{% if lid_instelling('forum', 'open_draad_op_pagina') == 'ongelezen' %}
	{% set urlHash = 'ongelezen' %}
{% elseif lid_instelling('forum', 'open_draad_op_pagina') == 'laatste' %}
	{% set urlHash = 'reageren' %}
{% else %}
	{% set urlHash = '' %}
{% endif %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
	<h6 class="border-bottom border-gray pb-2 mb-0">{{ deel.titel }}</h6>
	{% for draad in deel.forumDraden %}
		<div class="media pt-3">
			<a href="{{ url('csrdelft_forum_forumdraad_onderwerp', {draad_id: draad.draad_id, _fragment: urlHash}) }}"
				 class="media-body pb-3 mb-0 lh-125 border-bottom border-gray {% if is_granted('ROLE_LOGGED_IN') and draad.ongelezen %} {{ ongelezenWeergave }} {% endif %}">
				{% if draad.belangrijk %}
					{{ icon(draad.belangrijk, null, 'Dit onderwerp is door het bestuur aangemerkt als belangrijk') }}
				{% elseif draad.plakkerig %}
					{{ icon('plakkerig', null, 'Dit onderwerp is plakkerig, het blijft bovenaan') }}
				{% elseif draad.gesloten %}
					{{ icon('slotje', null, 'Dit onderwerp is gesloten, u kunt niet meer reageren') }}
				{% endif %}
				<strong>{{ draad.titel }}</strong>
				{% if is_granted('ROLE_LOGGED_IN') and draad.aantalOngelezenPosts > 0 %}
					<span class="badge bg-primary">{{ draad.aantalOngelezenPosts }}</span>
				{% endif %}
				<span class="text-muted float-end">{{ draad.laatst_gewijzigd | reldate }}</span>
			</a>
		</div>
	{% endfor %}
	<div class="d-block text-end mt-3">
		{% if id == 'recent' %}
			<a href="{{ url('csrdelft_forum_forum_recent') }}">Meer lezen...</a>
		{% elseif id == 'belangrijk' %}
			<a href="{{ url('csrdelft_forum_forum_belangrijk') }}">Meer lezen...</a>
		{% else %}
			<a href="{{ url('csrdelft_forum_forumdeel_deel', {forum_id: deel.forum_id}) }}">Meer lezen...</a>
		{% endif %}
	</div>
</div>
