{% extends 'forum/base.html.twig' %}

{% block titel %}{{ draad.titel | raw }}{% endblock %}

{% block breadcrumbs %}
	{{ csr_breadcrumbs({
		(url('default')): 'main',
		(url('csrdelft_forum_forum_forum')): 'Forum',
		(url('csrdelft_forum_forumdeel_deel', {forum_id: draad.deel.forum_id})): draad.deel.titel,
		'': draad.titel,
	}) }}
{% endblock %}

{% block content %}
	{{ getMelding() }}
	<div class="forum-header btn-toolbar">

		{% block kop %}
			{% if app.user %}
				{% if statistiek is none and draad.magStatistiekBekijken %}
					<div class="btn-group me-2">
						<a
							href="{{ url('csrdelft_forum_forumdraad_onderwerp', {draad_id: draad.draad_id, pagina: getHuidigePagina(), statistiek: 'statistiek'}) }}"
							class="btn btn-light" title="Toon statistieken">{{ icon('chart_line') }}</a>
					</div>
				{% endif %}
				<div class="btn-group me-2">
					<a title="Onderwerp toevoegen aan favorieten" class="btn btn-light post popup addfav"
						 href="{{ url('csrdelft_menubeheer_toevoegen', {parentId: 'favoriet'}) }}">{{ icon('heart', 'heart_add') }}</a>
				</div>

				{% if draad.magMeldingKrijgen %}
					<div class="btn-group me-2">
						<a href="{{ url('csrdelft_forum_forummelding_meldingsniveau', {draad_id: draad.draad_id, niveau: 'nooit'}) }}"
							 class="btn btn-light post ReloadPage melding-nooit {% if draad.meldingsNiveau.isNOOIT %}active{% endif %}"
							 title="Nooit meldingen ontvangen">{{ icon('email_delete', 'email_delete') }}</a>
						<a href="{{ url('csrdelft_forum_forummelding_meldingsniveau', {draad_id: draad.draad_id, niveau: 'vermelding'}) }}"
							 class="btn btn-light post ReloadPage melding-vermelding {% if draad.meldingsNiveau.isVERMELDING %}active{% endif %}"
							 title="Melding ontvangen als ik genoemd word">{{ icon('email_error', 'email_error') }}</a>
						<a href="{{ url('csrdelft_forum_forummelding_meldingsniveau', {draad_id: draad.draad_id, niveau: 'altijd'}) }}"
							 class="btn btn-light post ReloadPage melding-altijd {% if draad.meldingsNiveau.isALTIJD %}active{% endif %}"
							 title="Melding ontvangen bij elk nieuw bericht">{{ icon('email_add', 'email_add') }}</a>
					</div>
				{% endif %}

				{% if draad.verborgen %}
					<div class="btn-group me-2">
						<a href="{{ url('csrdelft_forum_forumdradenverbergen_tonen', {draad_id: draad.draad_id}) }}"
							 class="btn btn-light post ReloadPage tonenAan"
							 title="Onderwerp tonen in zijbalk">{{ icon('layout', 'layout_add') }}</a>
					</div>
				{% elseif draad.magVerbergen %}
					<div class="btn-group me-2">
						<a href="{{ url('csrdelft_forum_forumdradenverbergen_verbergen', {draad_id: draad.draad_id}) }}"
							 class="btn btn-light post ReloadPage tonenUit"
							 title="Onderwerp verbergen in zijbalk">{{ icon('layout_sidebar', 'layout_delete') }}</a>
					</div>
				{% endif %}

				{% if draad.magModereren %}
					<div class="btn-group me-2">
						{% if draad.gesloten %}
							<a href="{{ url('csrdelft_forum_forumdraad_wijzigen', {draad_id: draad.draad_id, property: 'gesloten'}) }}"
								 class="btn btn-light post ReloadPage slotjeUit"
								 title="Openen (reactie mogelijk)">{{ icon('lock', 'lock_break') }}</a>
						{% else %}
							<a href="{{ url('csrdelft_forum_forumdraad_wijzigen', {draad_id: draad.draad_id, property: 'gesloten'}) }}"
								 class="btn btn-light post ReloadPage slotjeAan"
								 title="Sluiten (geen reactie mogelijk)">{{ icon('lock_open', 'lock') }}</a>
						{% endif %}
					</div>

					<div class="btn-group me-2">
						<a href="#modereren" class="btn btn-light modfuncties" title="Moderatie-functies weergeven"
							 data-bs-toggle="collapse"
							 onclick="">
							{{ icon('wrench') }} Modereren
						</a>
					</div>

				{% endif %}
			{% endif %}
		{% endblock %}

		{{ zoekform | raw }}
	</div>
	{% if draad.magModereren %}
		{{ include('forum/partial/draad_mod.html.twig') }}
	{% endif %}
	<h1>
		{{ draad.titel | raw }}
		{% if statistiek %}
			&nbsp;&nbsp;&nbsp;
			<span class="lichtgrijs small" title="Aantal lezers">{{ draad.aantalLezers }} lezers</span>
		{% endif %}
	</h1>

	<div class="forum-draad">
		{# Paginering boven eerste post op de pagina als de eerste post van het draadje niet plakkerig is of dit de eerste pagina is #}
		{% if paging and (not draad.eerste_post_plakkerig or draadGetHuidigePagina() == 1) %}
			{{ block('paginering') }}
		{% endif %}

		{% set vanaf = false %}
		{% for post in draad.forumPosts %}

			{# Als posts gewijzigd zijn zonder draad gewijzigd te triggeren voorkomt $draad->isOngelezen() dat de gele lijn wordt getoond #}
			{% if not vanaf and draad_ongelezen and (not gelezen_moment or post.laatst_gewijzigd > gelezen_moment) %}
				{% set vanaf = true %}
				<div class="tussenschot ongelezenvanaf"><a id="ongelezen"></a></div>
			{% else %}
				<div class="tussenschot"></div>
			{% endif %}

			{{ include('forum/partial/post_lijst.html.twig', {post: post}) }}

			{# Paginering onder eerste plakkerige post op alle pagina's behalve de eerste #}
			{% if paging and draad.eerste_post_plakkerig and draadGetHuidigePagina() != 1 and loop.first %}
				{{ block('paginering') }}
			{% endif %}
		{% endfor %}

		{# Paginering onderaan pagina #}
		{% if paging %}
			{% block paginering %}
				<div class="tussenschot"></div>
				<div class="forum-paginering">
					{% if draad.pagina_per_post %}Bericht: {% else %}Pagina: {% endif %}
					{{ sliding_pager({
						baseurl: url('csrdelft_forum_forumdraad_onderwerp', {draad_id: draad.draad_id}) ~ '/',
						url_append: statistiek ? '/statistiek': '',
						pagecount: draadGetAantalPaginas(draad.draad_id),
						curpage: draadGetHuidigePagina()
					}) }}
				</div>
			{% endblock %}
		{% endif %}

		{# Geen ongelezen berichten op de laatste pagina betekend in het geheel geen ongelezen berichten #}

		{% if not vanaf and draadGetHuidigePagina() == draadGetAantalPaginas(draad.draad_id) %}
			<div class="tussenschot ongelezenvanaf"><a id="ongelezen"></a></div>
		{% else %}
			<div class="tussenschot"></div>
		{% endif %}

		<div class="magreageren">
			{% block magreageren %}
				{% if draad.verwijderd %}
					<div class="draad-verwijderd">Dit onderwerp is verwijderd.</div>
				{% elseif draad.gesloten %}
					<div class="draad-gesloten">
						U kunt hier niet meer reageren omdat dit onderwerp gesloten is.
						{% if draad.deel.openbaar and draad.laatst_gewijzigd < date(instelling('forum', 'externen_geentoegang_gesloten')) %}
							<div class="dikgedrukt">Dit externe onderwerp is niet meer toegankelijk voor externen en zoekmachines.
							</div>
						{% endif %}
					</div>
				{% elseif not draad.magPosten %}
					<div class="draad-readonly">U mag in dit deel van het forum niet reageren.</div>
				{% endif %}
			{% endblock %}
		</div>

		<div class="breadcrumbs">{{ block('breadcrumbs') }}</div>
		<div class="forum-footer">{{ block('kop') }}</div>

		{% if draad.magPosten %}
			{{ include('forum/partial/draad_reageren.html.twig') }}
			{{ include('forum/partial/post_form.html.twig', {deel: draad.deel}) }}
		{% endif %}
	</div>
	{{ include('forum/partial/rss_link.html.twig') }}
{% endblock %}
