{% extends 'forum/base.html.twig' %}

{% block titel %}Forum{% endblock %}

{% block breadcrumbs %}
	{{ csr_breadcrumbs({
		'/': 'main',
		'/forum': 'Forum',
	}) }}
{% endblock %}

{% block content %}
	{% include 'melding.html.twig' %}
	<header class="d-flex justify-content-between align-items-center">
		<h1>Forum</h1>

		{{ include('forum/partial/deel_head_buttons.html.twig') }}
	</header>

	{% for categorie in categorien %}
		<div class="forumcategorie">
			<h3><a name="{{ categorie.categorie_id }}">{{ categorie.titel }}</a></h3>
			<div class="forumdelen">
				{% for deel in categorie.forum_delen %}
					<div class="forumdeel">
						<h4><a href="{{ url('csrdelft_forum_forumdeel_deel', {forum_id: deel.forum_id}) }}">{{ deel.titel }}</a></h4>
						<p class="forumdeel-omschrijving">{{ deel.omschrijving }}</p>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
